# Задача 229(8) Did she say hallo?

You received a whatsup message from an unknown number. Could it be from that girl/boy with a foreign accent you met yesterday evening?

Write a simple function to check if the string contains the word hallo in different languages.

These are the languages of the possible people you met the night before:

hello - english

ciao - italian

salut - french

hallo - german

hola - spanish

ahoj - czech republic

czesc - polish

Notes

you can assume the input is a string.
to keep this a beginner exercise you don't need to check if the greeting is a subset of word (Hallowen can pass the test)
function should be case insensitive to pass the tests

In [ ]:
#0
def validate_hello(greetings):
    greetings = greetings.lower()
    
    greet = ['hello', 'ciao', 'salut', 'hallo', 'hola', 'ahoj', 'czesc']
    
    for i in greet:
        if i in greetings:
            return True
        
    return False

In [ ]:
#1
def validate_hello(greetings):
    return any(x in greetings.lower() for x in ['hello','ciao','salut','hallo','hola','ahoj','czesc'])

#2
from re import compile, search, I

REGEX = compile(r'hello|ciao|salut|hallo|hola|ahoj|czesc', I)


def validate_hello(greeting):
    return bool(search(REGEX, greeting))


#3
import re

def validate_hello(greetings):
    return bool(re.search("h[ae]llo|ciao|salut|hola|ahoj|czesc", greetings.lower()))

#4
import re
def validate_hello(greetings):
    return True if re.findall('hello|ciao|salut|hallo|hola|ahoj|czesc', greetings, re.IGNORECASE) else False


#5
import re

check = re.compile(r"hello|ciao|salut|hallo|hola|ahoj|czesc", re.IGNORECASE).search

def validate_hello(greetings):
    return bool(check(greetings))


#6
import re

def validate_hello(greetings):
    return bool(re.search('ahoj|h[ea]llo|hola|czesc|ciao|salut', greetings, re.I))

# Задача 230(7) L2: Triple X

Given a string, return true if the first instance of "x" in the string is immediately followed by the string "xx".

triple_x(""), False)

tripleX("abraxxxas") → true

tripleX("xoxotrololololololoxxx") → false

tripleX("softX kitty, warm kitty, xxxxx") → true

tripleX("softx kitty, warm kitty, xxxxx") → false

Note :

capital X's do not count as an occurrence of "x".
if there are no "x"'s then return false

In [ ]:
#0
def triple_x(s):
    for i in range(len(s)-2):
        if s[i] == 'x':
            if s[i+1] == 'x':
                if s[i+2] == 'x':
                    return True
            else: 
                return False     
    return False

In [ ]:
#1
def triple_x(s: str) -> bool:
    return 0 <= s.find("x") == s.find("xxx") 


#2
def triple_x(s):
    try:
        return True if s.index("x")==s.index("xxx") else False
    except: return False


#3
import re

def triple_x(s):
    return re.match('[^x]*xxx', s) is not None

#4
def triple_x(s):
    pos=s.find('x')
    return s[pos:pos+3]=='xxx'

#5
    for x in range(len(s)):
        if s[x] == 'x':
            return s[x+1:x+3] == 'xx'
    return 0

#6
triple_x=lambda s:s.find('x')==s.find('xxx')>-1

#7
def triple_x(s):
    return s.find("xxx") == s.find("x") != -1

#8
def triple_x(s):
    return s[s.find('x'):].startswith('xxx')

In [ ]:
Метод center( width, [fill] ) возвращает строку длиной width, 
в которой исходная строка находится в центре, а справа и слева от нее находятся символы указанные в fillchar ( по умолчанию пробел ).

str = 'python Scripts'

str.center(16, '_')
# _python Scripts_

# Задача 321(8) Safen User Input Part I - htmlspecialchars

afen User Input Part I - htmlspecialchars
You are a(n) novice/average/experienced/professional/world-famous Web Developer (choose one) who owns a(n) simple/clean/slick/beautiful/complicated/professional/business website (choose one or more) which contains form fields so visitors can send emails or leave a comment on your website with ease. However, with ease comes danger. Every now and then, a hacker visits your website and attempts to compromise it through the use of XSS (Cross Site Scripting). This is done by injecting script tags into the website through form fields which may contain malicious code (e.g. a redirection to a malicious website that steals personal information).

Mission

Your mission is to implement a function that converts the following potentially harmful characters:

< --> &lt;

> --> &gt;

" --> &quot;

& --> &amp;

Good luck :D

Extension

If you are an experienced programmer, try shortening your code as much as possible and optimise it to minimise run time. Experienced programmers should be able to complete this exercise in one line of code.

In [ ]:
#0 
def html_special_chars(data): 
    symbol = {"<":"&lt;", ">":"&gt;", '"':"&quot;", "&":"&amp;"}
    s = ""
    for i in data:
        if i in symbol:
            s += symbol[i]
        else:    
            s += i
    return s

In [ ]:
#1
def html_special_chars(data): 
    symbols = {'<': '&lt;', '>': '&gt;', '"': '&quot;', '&': '&amp;'}
    return "".join(symbols.get(x, x) for x in data)

In [ ]:
#2
def html_special_chars(data): 
    return data.translate(str.maketrans({'<':'&lt;','>':'&gt;','"':'&quot;','&':'&amp;'}))

#3
def html_special_chars(data): 
    return data.replace('&', "&amp;").replace('>', "&gt;").replace('<', "&lt;").replace('\"', "&quot;")

#4
html_special_chars = lambda s: s.translate({60: "&lt;", 62: "&gt;", 34: "&quot;", 38: "&amp;"})

# Задача 322(7) Char Code Calculation

Given a string, turn each character into its ASCII character code and join them together to create a number - let's call this number total1:

'ABC' --> 'A' = 65, 'B' = 66, 'C' = 67 --> 656667

Then replace any incidence of the number 7 with the number 1, and call this number 'total2':

total1 = 656667
              ^
total2 = 656661
              ^
Then return the difference between the sum of the digits in total1 and total2:

  (6 + 5 + 6 + 6 + 6 + 7)

  (6 + 5 + 6 + 6 + 6 + 1)

-------------------------

                       6

calc('abcdef'), 6

calc('ifkhchlhfd'), 6

calc('aaaaaddddr'), 30

calc('jfmgklf8hglbe'), 6

calc('jaam'), 12

In [ ]:
#0 
def calc(x):
    s = ''

    for i in x:
        s += str(ord(i))


    total1 = list(s)
    total2 = list(s)


    for i, item in enumerate(total2):
        if item == '7':
            total2[i] = '1'


    n = 0

    for i in range(len(total1)):
        n += (int(total1[i]) - int(total2[i]))
        
    return n

In [ ]:
#1
def calc(s):
    total1 = ''.join(map(lambda c: str(ord(c)), s))
    total2 = total1.replace('7', '1')
    return sum(map(int, total1)) - sum(map(int, total2))

#2
def calc(x):
    return ''.join(str(ord(ch)) for ch in x).count('7') * 6

#3
def calc(x):
    total1 = "".join(str(ord(char)) for char in x)
    total2 = total1.replace("7","1")
    return sum(int(x) for x in total1) - sum(int(x) for x in total2)

#4
def calc(x):
    return sum(6 for c in ''.join(map(str, map(ord, x))) if c== '7')

#5
def calc(x):
    return ''.join([str(ord(x[i])) for i in range(len(x)) ]).count('7') * 6

#6
def calc(x):
    s = ''.join( str(ord(c)) for c in x )
    
    return 6*( s.count('7') )

#7
def calc(x):
    t1: str = "".join(str(ord(l)) for l in x)
    t2: str = t1.replace('7', '1')
    return sum(int(i) for i in t1) - sum(int(i) for i in t2)

#8
def calc(x):
    total1=int(''.join(str(ord(n)) for n in x))
    total2=int(''.join(str(ord(n)) for n in x).replace('7','1'))
    return sum(map(int,str(total1)))-sum(map(int,str(total2)))

# Задача 323(8) Check same case

In [ ]:
Write a function that will check if two given characters are the same case.

If any of characters is not a letter, return -1
If both characters are the same case, return 1
If both characters are letters and not the same case, return 0
Examples
'a' and 'g' returns 1

'A' and 'C' returns 1

'b' and 'G' returns 0

'B' and 'g' returns 0

'0' and '?' returns -1

In [ ]:
#0
def same_case(a, b): 
    #if isinstance(a, str) & isinstance(b, str):
    if a.isalpha() and b.isalpha():
        if a.islower() and b.islower(): 
            return 1
        elif a.isupper() and b.isupper():
            return 1
        
        else:
            return 0
    else:
        return -1

In [ ]:
#1
def same_case(a, b):
    return a.isupper() == b.isupper() if a.isalpha() and b.isalpha() else -1

#2
def same_case(a, b): 
    c = a+b
    if not c.isalpha():
        return -1
    if c.islower() or c.isupper():
        return 1
    else:
        return 0

#3
def same_case(a, b):
    return -1 if not (a+b).isalpha() else a.isupper() == b.isupper()

# Задача 324(7) Simple Fun #176: Reverse Letter

Task

Given a string str, reverse it omitting all non-alphabetic characters.

Example

For str = "krishan", the output should be "nahsirk".

For str = "ultr53o?n", the output should be "nortlu".

Input/Output

[input] string str

A string consists of lowercase latin letters, digits and symbols.

In [ ]:
#0
def reverse_letter(string):
    s = ''
    for i in reversed(string):
        if i.isalpha():
            s += i
    return s

#1
def reverse_letter(string):
    return "".join([i  for i in reversed(string) if i.isalpha()])

In [ ]:
#2
def reverse_letter(string):
    return ''.join(filter(str.isalpha, reversed(string)))

#3
import re
def reverse_letter(string):
    return re.sub("[^a-zA-Z]","",string)[::-1]

#4
reverse_letter = lambda s:''.join(reversed([x for x in s if x.isalpha()]))

# Задача 325(7) Dot Calculator

Dot Calculator
You have to write a calculator that receives strings for input. The dots will represent the number in the equation. There will be dots on one side, an operator, and dots again after the oparator. The dots and the operator will be separated by one space.

Here are the following valid operators :

+ Addition

- Subtraction

* Multiplication

// Integer Division

Your Work (Task)

You'll have to return a string that contains dots, as many the equation returns. If the result is 0, return the empty string. When it comes to subtraction, the first number will always be greater than or equal to the second number.

Examples

calculator("..... + ...............") => "...................."

calculator("..... - ...") => ".."

calculator("..... - .") => "...."

calculator("..... * ...") => "..............."

calculator("..... * ..") => ".........."

calculator("..... // ..") => ".."

calculator("..... // .") => "....."

calculator(". // ..") => ""

calculator(".. - ..") => ""

In [ ]:
#0 
def calculator(txt):
    if '+' in txt:
        s = txt.split('+')
        c1 = s[0].count('.')
        c2 = s[1].count('.')
        return (c1 + c2) * '.'
    elif '-' in txt:
        s = txt.split('-')
        c1 = s[0].count('.')
        c2 = s[1].count('.')
        if c1 - c2 == 0:
            return ""
        return (c1 - c2) * '.'
    elif '*' in txt:
        s = txt.split('*')
        c1 = s[0].count('.')
        c2 = s[1].count('.')
        return (c1 * c2) * '.'
    elif '//' in txt:
        s = txt.split('//')
        c1 = s[0].count('.')
        c2 = s[1].count('.')
        return (c1 // c2) * '.'

In [ ]:
#1
def calculator(txt):
    a, op, b = txt.split()
    a, b = len(a), len(b)
    return '.' * eval(f'{a} {op} {b}')

#2
def calculator(txt):
    import operator

    ops = {
    '+' : operator.add,
    '-' : operator.sub,
    '*' : operator.mul,
    '//' : operator.floordiv,
    }
    l = txt.split(' ')
    return '.'*ops[l[1]](l[0].count('.'),l[2].count('.'))

# Задача 326(8) To square(root) or not to square(root)

Write a method, that will get an integer array as parameter and will process every number from this array.

Return a new array with processing every number of the input-array like this:

If the number has an integer square root, take this, otherwise square the number.

Example

[4,3,9,7,2,1] -> [2,9,3,49,4,1]

Notes

The input array will always contain only positive numbers, and will never be empty or null.

In [ ]:
#0
from math import sqrt
def square_or_square_root(arr):
    arr_2 = []
    for i in arr:
        if sqrt(i) % 1 == 0:
            arr_2.append(sqrt(i))
        else:
            arr_2.append(i**2)
    return arr_2

In [ ]:
#1
def square_or_square_root(arr):
    result = []
    for x in arr:
        root = x**0.5
        if root.is_integer():
            result.append(root)
        else:
            result.append(x*x)
    return result

#2
from math import sqrt

def square_or_square_root(arr):
    return [int(sqrt(a)) if sqrt(a) % 1 == 0 else a ** 2 for a in arr]

#3
import math

def square_or_square_root(arr):
    output = []
    for num in arr:
        sqrt =  math.sqrt(num)
        if sqrt == int(sqrt):
            output.append(sqrt)
        else:
            output.append(num ** 2)
    return output
    pass

# Задача 327(8) Check same case

Write a function that will check if two given characters are the same case.

If either of the characters is not a letter, return -1

If both characters are the same case, return 1

If both characters are letters, but not the same case, return 0

Examples

'a' and 'g' returns 1

'A' and 'C' returns 1

'b' and 'G' returns 0

'B' and 'g' returns 0

'0' and '?' returns -1

In [ ]:
#0
def same_case(a, b): 
    if a.isalpha() and b.isalpha():
        if (a.islower() and b.islower()) or (a.isupper() and b.isupper()):
            return 1
        else:
            return 0
    else:
        return -1

In [ ]:
#1
def same_case(a, b):
    return a.isupper() == b.isupper() if a.isalpha() and b.isalpha() else -1

#2
def same_case(a, b):
    if a.isalpha() and b.isalpha():
        if a.islower() == b.islower():
            return 1
        else:
            return 0
    else:
        return -1

Задача 328(7) Filter unused digits

Given a varying number of integer arguments, return the digits that are not present in any of them.

Example:

[12, 34, 56, 78]  =>  "09"

[2015, 8, 26]     =>  "3479"

Note: the digits in the resulting string should be sorted.

In [ ]:
#0
def unused_digits(*numbers):
    s = ''
    for i in numbers:
        s += str(i)
        
    num = '0123456789'
    
    st = ''
    
    for i in num:
        if i not in s:
            st += i
    
    return st

In [ ]:
#1
def unused_digits(*args):
    return "".join(number for number in "0123456789" if number not in str(args))

#2
def unused_digits(*l):
    digits_set = set(list("0123456789"))
    test_set = set("".join(str(i) for i in l))
    d = digits_set.difference(test_set)
    r = "".join(sorted(d))
    return r

#3
def unused_digits(*args):
    s =  ''.join(map(str,args))
    return ''.join(str(i) for i in range(0,10) if str(i) not in s)

# Задача 328(7) Fibonacci

Create function fib that returns n'th element of Fibonacci sequence (classic programming task).

In [ ]:
#0
def fibonacci(n: int) -> int:
    f1 = 1
    f2 = 1
    f_sum = 0
    i = 0
    if n == 1 or n == 2:
        return 1
    while i < n -2:
        f_sum = f1 + f2
        f1 = f2
        f2 = f_sum
        i += 1
    return f_sum

#1
def fibonacci(n: int) -> int:
    f1,f2 = 0, 1
    while n-2 > 0:
        f1, f2 = f2, f1 + f2
        n -= 1
    return f2

In [ ]:
#2
def fibonacci(n: int) -> int:
    x, y = 0, 1
    for i in range(n):
        x, y = y, y + x
    return x

#3
def fibonacci(n: int) -> int:
    res = [0, 1]
    for i in range(2, n+1):
        res.append(res[i-2] + res[i-1])
    return res[n]
  
#4
f=fibonacci=lambda n,a=0,b=1:n and f(n-1,b,a+b)or a

# Задача 329(7) Thinkful - List Drills: Longest word

Complete the function that takes one argument, a list of words, and returns the length of the longest word in the list.

For example:

['simple', 'is', 'better', 'than', 'complex'] ==> 7

Do not modify the input list.

In [ ]:
#0
def longest(words):
    word = sorted(words, key=len)
    return len(word[-1])  

#1
from functools import reduce

def longest(words):
    word = reduce(lambda x,y: x if len(x)>len(y) else y, words)
    return len(word)

In [ ]:
#2
def longest(words):
    return max(map(len, words))

#3
def longest(words):
    return max(len(i) for i in words)

#4
def longest(words):
    return len(max(words, key=len))

#5
longest = lambda w: len(max(w, key = len))

# Задача 330(7) Dropcaps

DropCaps means that the first letter of the starting word of the paragraph should be in caps and the remaining lowercase, just like you see in the newspaper.

But for a change, let"s do that for each and every word of the given String. Your task is to capitalize every word that has length greater than 2, leaving smaller words as they are.

*should work also on Leading and Trailing Spaces and caps.

"apple"            => "Apple"

"apple of banana"  => "Apple of Banana"

"one   space"      => "One   Space 

"   space WALK   " => "   Space Walk   " 

Note: you will be provided atleast one word and should take string as input and return string as output.

In [ ]:
#0
def drop_cap(str_):
    s = []
    lst = str_.split(" ")
    for i in lst:
        if len(i)>2:
            s.append(i.title())
        else:
            s.append(i)
    return " ".join(s)

#1
def drop_cap(str_):
    return " ".join([i.title() if len(i)>2 else i for i in str_.split(" ")])

# Задача 331(7) String Merge!

Given two words and a letter, return a single word that's a combination of both words, merged at the point where the given letter first appears in each word. The returned word should have the beginning of the first word and the ending of the second, with the dividing letter in the middle. You can assume both words will contain the dividing letter.

Examples

("hello", "world", "l")       ==>  "held"

("coding", "anywhere", "n")   ==>  "codinywhere"

("jason", "samson", "s")      ==>  "jasamson"

("wonderful", "people", "e")  ==>  "wondeople"

In [ ]:
#0
def string_merge(s1, s2, l):
    return s1.partition(l)[0] + l + s2.partition(l)[-1]

In [ ]:
#1
def StringMerge(string1, string2, letter):
    return string1[:string1.index(letter)] + string2[string2.index(letter):]

#2
string_merge=lambda str1,str2,letter : str1[ : str1.find(letter)] + str2[str2.find(letter) : ]

#3
def StringMerge(s1, s2, l):
    return s1.split(l)[0] + l + s2.split(l, 1)[1]

#4
def string_merge(str1, str2, l):
    i = str1.find(l)
    j = str2.find(l)
    return str1[:i] + str2[j:]

# Задача 332(7) Sum up the random string

Given a random string consisting of numbers, letters, symbols, you need to sum up the numbers in the string.

Note:

Consecutive integers should be treated as a single number. eg, 2015 should be treated as a single number 2015, NOT four numbers
All the numbers should be treaded as positive integer. eg, 11-14 should be treated as two numbers 11 and 14. Same as 3.14, should be treated as two numbers 3 and 14
If no number was given in the string, it should return 0
Example:

str = "In 2015, I want to know how much does iPhone 6+ cost?"
The numbers are 2015, 6

Sum is 2021

In [ ]:
#0
def sum_from_string(strng):
    s = ''
    for i in strng:
        if i.isdigit():
            s += i
        else:
            s += " "
    return sum(map(int,[i for i in s.strip().split(" ") if i!='']))

#1
def sum_from_string(strng):
    s = "".join([i if i.isdigit() else " " for i in strng])
    return sum(map(int,[i for i in s.strip().split(" ") if i!='']))

In [ ]:
#2
import re
def sum_from_string(string):
    d = re.findall("\d+",string)
    return sum(int(i) for i in d)

#3
def sum_from_string(s):
    return sum(map(int, "".join(c if c.isdigit() else " " for c in s).split()))

#4
import re
def sum_from_string(str_):
    return sum(map(int, re.findall(r'\d+', str_)))

#5
from itertools import groupby

def sum_from_string(string):
  return sum(int(''.join(gp)) for b, gp in groupby(string, key = str.isdigit) if b)
  
#6
import re
def sum_from_string(string):
    return sum(int(m.group(0)) for m in re.finditer(r'\d+', string))

# Задача 333(7) Nth Root of a Number

Given two numbers x and n, calculate the (positive) nth root of x; this means that being r = result, r^n = x

Examples

x = 4     n = 2  -->  2    # the square root of 4 is 2     2^2 = 4

x = 8     n = 3  -->  2    # the cube root of 8 is 2       2^3 = 8

x = 256   n = 4  -->  4    # the 4th root of 256 is 4      4^4 = 256

x = 9     n = 2  -->  3    # the square root of 9 is 3     3^2 = 9

x = 6.25  n = 2  -->  2.5  #                             2.5^2 = 6.25

Notes:

4 <= x < 10 ^ 20

4 <= n <= 50

Good luck!

In [ ]:
#0
def root(x, n):
    return pow(x, (1/n))

In [ ]:
#1
def root(x,n):
    return x**(1/n)

#2
root = lambda x,n: pow(x, n**-1)

#3
root = lambda x,n: x**(n**-1)

# Задача 334(7) Turn with a Compass

You have an 8-wind compass, like this:

![image.png]()

You receive the direction you are facing (one of the 8 directions: N, NE, E, SE, S, SW, W, NW) and a certain degree to turn (a multiple of 45, between -1080 and 1080); positive means clockwise, and negative means counter-clockwise.

Return the direction you will face after the turn.

Examples

"S",  180  -->  "N"

"SE", -45  -->  "E"

"W",  495  -->  "NE"

In [ ]:
#0
def direction(facing, turn):
    
    if turn > 360 or turn < -360:
        step = (turn % 360) // 45
    else:    
        step = turn // 45
        
    side = {0:'N', 45:'NE', 90:'E', 135:'SE', 180:'S', 225:'SW', 270:'W', 315:'NW', 360:'N'}
    comp = {'N':0, 'NE':45, 'E':90, 'SE':135, 'S':180, 'SW':225, 'W':270, 'NW':315}
    
    s = comp[facing]
    while step != 0:
        if step >0:
            if s == 360:
                s = 0
            step -= 1
            s += 45
        else:
            step += 1
            s -= 45
            if s == 0:
                s = 360
    return side[s]

In [ ]:
#1
DIRECTIONS = ['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW']


def direction(facing, turn):
    return DIRECTIONS[(turn // 45 + DIRECTIONS.index(facing)) % 8]

#2
direction = lambda f, t: (D:=['N', 'NE', 'E', 'SE', 'S', 'SW', 'W', 'NW'])[(D.index(f)*45+t)//45%8]

#3
degToCompass = {
    0: "N",
    45: "NE",
    90: "E",
    135: "SE",
    180: "S",
    225: "SW",
    270: "W",
    315: "NW",
}

compassToDeg = {
    "N": 0,
    "NE": 45,
    "E": 90,
    "SE": 135,
    "S": 180,
    "SW": 225,
    "W": 270,
    "NW": 315,
}

def direction(facing, turn):
    return degToCompass[(compassToDeg[facing] + turn) % 360]

# Задача 335(7) Narcissistic Numbers

A Narcissistic Number is a number of length n in which the sum of its digits to the power of n is equal to the original number. If this seems confusing, refer to the example below.

Ex: 153, where n = 3 (number of digits in 153)
13 + 53 + 33 = 153

Write a method is_narcissistic(i) (in Haskell: isNarcissistic :: Integer -> Bool) which returns whether or not i is a Narcissistic Number.

In [ ]:
#0
def is_narcissistic(i):
    s = list(map(int, str(i)))
    return i == sum([i**len(s) for i in s])

# Задача 336(7) Simple string characters

In this Kata, you will be given a string and your task will be to return a list of ints detailing the count of uppercase letters, lowercase, numbers and special characters, as follows.

Solve("*'&ABCDabcde12345") = [4,5,5,3]. 

--the order is: uppercase letters, lowercase, numbers and special characters.
More examples in the test cases.

Good luck!

In [ ]:
#0
import string

def solve(s):
    
    r1, r2, r3, r4 = 0, 0, 0, 0
    
    for i in s:
        if i in string.ascii_uppercase:
            r1 += 1
        elif i in string.ascii_lowercase:
            r2 += 1
        elif i in string.digits:
            r3 += 1
        elif i in string.punctuation:
            r4 += 1
        
    return [r1,r2,r3,r4]

In [ ]:
#1
def solve(s):
  uc, lc, num, sp = 0, 0, 0, 0
  for ch in s:
    if ch.isupper(): uc += 1
    elif ch.islower(): lc += 1
    elif ch.isdigit(): num += 1
    else: sp += 1
  return [uc, lc, num, sp]

#2
import re
def solve(s):
    return [len(re.findall(i,s)) for i in ('[A-Z]','[a-z]','\d','[^a-zA-Z0-9]')]

#3
import re
def solve(s):
    uppercase = len(re.findall('[A-Z]', s))
    lowercase = len(re.findall('[a-z]', s))
    numbers = len(re.findall('[0-9]', s))
    special = len(re.findall('[^A-Za-z0-9]', s))
    return [uppercase, lowercase, numbers, special]

# Задача 337(7) Categorize New Member

The Western Suburbs Croquet Club has two categories of membership, Senior and Open. They would like your help with an application form that will tell prospective members which category they will be placed.

To be a senior, a member must be at least 55 years old and have a handicap greater than 7. In this croquet club, handicaps range from -2 to +26; the better the player the lower the handicap.

Input

Input will consist of a list of pairs. Each pair contains information for a single potential member. Information consists of an integer for the person's age and an integer for the person's handicap.

Output

Output will consist of a list of string values (in Haskell and C: Open or Senior) stating whether the respective member is to be placed in the senior or open category.

Example

input =  [[18, 20], [45, 2], [61, 12], [37, 6], [21, 21], [78, 9]]

output = ["Open", "Open", "Senior", "Open", "Open", "Senior"]


open_or_senior([(45, 12),(55,21),(19, -2),(104, 20)]),

['Open', 'Senior', 'Open', 'Senior'])

open_or_senior([(16, 23),(73,1),(56, 20),(1, -1)]),

['Open', 'Open', 'Senior', 'Open'])

In [ ]:
#0
def open_or_senior(data):
    lst = []
    for i in data:
        if i[0] >= 55 and i[1] > 7:
            lst.append('Senior')
        else:
            lst.append('Open')
    return lst

#1
def open_or_senior(data):
    return ['Senior' if i[0] >= 55 and i[1] > 7 else 'Open' for i in data]

# Задача 338(7) You Got Change?

Create a function that will take any amount of money and break it down to the smallest number of bills as possible. Only integer amounts will be input, NO floats. This function should output a sequence, where each element in the array represents the amount of a certain bill type. The array will be set up in this manner:

array[0] ---> represents $1 bills

array[1] ---> represents $5 bills

array[2] ---> represents $10 bills

array[3] ---> represents $20 bills

array[4] ---> represents $50 bills

array[5] ---> represents $100 bills

In the case below, we broke up $365 into 1 $5 bill, 1 $10 bill, 1 $50 bill, and 3 $100 bills.

give_change(365) # =>  (0,1,1,0,1,3)
In this next case, we broke $217 into 2 $1 bills, 1 $5 bill, 1 $10 bill, and 2 $100 bills.

give_change(217) # => (2,1,1,0,0,2)

In [ ]:
#0
def give_change(amount): 
    lst = []
    
    if amount >= 100:
        bills_100 = amount // 100
        amount -= bills_100 * 100
    else:
        bills_100 = 0
        
    if amount >= 50:
        bills_50 = amount // 50
        amount -= bills_50 * 50
    else:
        bills_50 = 0
        
    
    if amount >= 20:
        bills_20 = amount // 20
        amount -= bills_20 * 20
    else:
        bills_20 = 0
        
    
    if amount >= 10:
        bills_10 = amount // 10
        amount -= bills_10 * 10
    else:
        bills_10 = 0
        
    
    if amount >= 5:
        bills_5 = amount // 5
        amount -= bills_5 * 5
    else:
        bills_5 = 0
        
    lst.append(amount)
    lst.append(bills_5)
    lst.append(bills_10)
    lst.append(bills_20)
    lst.append(bills_50)
    lst.append(bills_100)
    
    return tuple(lst)

In [ ]:
#1
def give_change( money ):
    arr = []
    for i in [100, 50, 20, 10, 5, 1]:
        arr = [money // i] + arr
        money -= arr[0] * i
    return tuple(arr)

#2
def give_change(amount): 
    r = []
    for c in (100, 50, 20, 10, 5, 1):
        d, amount = divmod(amount, c)
        r.append(d)
    return tuple(reversed(r))

# Задача 339(8) Merge two sorted arrays into one

You are given two sorted arrays that both only contain integers. Your task is to find a way to merge them into a single one, sorted in asc order. Complete the function mergeArrays(arr1, arr2), where arr1 and arr2 are the original sorted arrays.

You don't need to worry about validation, since arr1 and arr2 must be arrays with 0 or more Integers. If both arr1 and arr2 are empty, then just return an empty array.

Note: arr1 and arr2 may be sorted in different orders. Also arr1 and arr2 may have same integers. Remove duplicated in the returned result.

Examples (input -> output)

* [1, 2, 3, 4, 5], [6, 7, 8, 9, 10] -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* [1, 3, 5, 7, 9], [10, 8, 6, 4, 2] -> [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

* [1, 3, 5, 7, 9, 11, 12], [1, 2, 3, 4, 5, 10, 12] -> [1, 2, 3, 4, 5, 7, 9, 10, 11, 12]

Happy coding!

In [ ]:
#0
def merge_arrays(arr1, arr2):
    arr = set(arr1 + arr2)
    arr = sorted(arr)
    return list(arr)

#1
def merge_arrays(arr1, arr2):
    return sorted(set(arr1+arr2))

In [ ]:
#2
merge_arrays = lambda a, b: sorted(list(set(a + b)))

#3
def merge_arrays(arr1, arr2):
    return sorted(set(arr1) | set(arr2))

# Задача 340(8) Hello, Name or World!

Define a method hello that returns "Hello, Name!" to a given name, or says Hello, World! if name is not given (or passed as an empty String).

Assuming that name is a String and it checks for user typos to return a name with a first capital letter (Xxxx).

Examples:

* With `name` = "john"  => return "Hello, John!"

* With `name` = "aliCE" => return "Hello, Alice!"

* With `name` not given 

  or `name` = ""        => return "Hello, World!"

In [ ]:
#0
def hello(name=''):
    if name:
        return f"Hello, {name.title()}!"
    else:
        return "Hello, World!"

#1
def hello(name=''):
    return f"Hello, {name.title()}!" if name else "Hello, World!"

In [ ]:
#2
def hello(name=''):
    return f"Hello, {name.title() or 'World'}!"

#3
def hello(name=''):
    return "Hello, {}!".format(name.title() if name else 'World')

# Задача 341(7) Zero And One

You have a string that consists of zeroes and ones. Now choose any two adjacent positions in the string: if one of them is 0, and the other one is 1, remove these two digits from the string.

Return the length of the resulting (smallest) string that you can get after applying this operation multiple times?

Note: after each operation, the remaining digits are separated by spaces and thus not adjacent anymore - see the examples below.

Examples

For "01010" the result should be 1:

"01010"  -->  "  010"  -->  "    0"

For "110100" the result should be 2:

"110100"  -->  "1  100"  -->  "1    0"

Input/Output

[input] string s

The initial string.

[output] an integer

The minimum length of the string that may remain after applying the described operations as many times as possible.

In [ ]:
#0
def zero_and_one(s):
    while "01" in s or "10" in s:
        for i,item in enumerate(s):
            if i < len(s):
                if s[i]=='1' and s[i+1]=='0':
                    s = s.replace("10", " ",1)
                    break
                elif s[i]=='0' and s[i+1]=='1':
                    s = s.replace("01", " ",1)
                    break
                
    
    s = s.replace(" ", "")
    return len(s)

In [ ]:
#1
import re

def zero_and_one(s):
    return len(re.sub("01|10", "", s))

#2
def zero_and_one(s): 
  return len(s.replace('01', '').replace('10', ''))

# Задача 342(7) Kill The Monsters!

Description
You are Saitama (a.k.a One Punch Man), and you are fighting against the monsters! You are strong enough to kill them with one punch, but after you punch 3 times, one of the remaining monsters will hit you once.

Your health is health; number of monsters is monsters, damage that monster can give you is damage.

Task
Write a function that will calculate:

how many hits you received, how much damage you received and your remaining health.

if your health is <= 0, you die and function should return "hero died".

Examples

(100, 3, 33)  => "hits: 0, damage: 0, health: 100"

( 50, 7, 10)  => "hits: 2, damage: 20, health: 30"

Note

All numbers are strictly positive. Your function should always return a string.

Have fun :)

In [ ]:
#0
def kill_monsters(health, monsters, damage):
    hits = monsters//3
    if monsters % 3 == 0:
        hits -= 1
    health -= hits * damage
    if health <=0:
        return "hero died"
    damage *= hits
    return f"hits: {hits}, damage: {damage}, health: {health}"

In [ ]:
#1
def kill_monsters(health, monsters, damage):
    hits = (monsters - 1) // 3
    damage *= hits
    health -= damage
    return f'hits: {hits}, damage: {damage}, health: {health}' if health > 0 else 'hero died'

# Задача 343(7) Round up to the next multiple of 5

Given an integer as input, can you round it to the next (meaning, "higher") multiple of 5?

Examples:

input:    output:
0    ->   0
2    ->   5
3    ->   5
12   ->   15
21   ->   25
30   ->   30
-2   ->   0
-5   ->   -5
etc.
Input may be any positive or negative integer (including 0).

You can assume that all inputs are valid integers.

In [ ]:
#0
def round_to_next5(n):
    if n % 5 == 0:
        return n
    a = n // 5
    f = 5 * (a+1)
    return f

In [ ]:
#1
def round_to_next5(n):
    if n % 5 == 0:
        return n
    a = n // 5
    f = 5 * (a+1)
    return f

#2
def round_to_next5(n):
    while n%5!=0:
        n+=1
    return n

#3
import math

def round_to_next5(n):
    # Your code here
    return math.ceil(n/5.0) * 5

# Задача 343(7)  Prostate cancer recurrence rates (ASTRO)

Although its use in screening healthy patients is debatable, Prostate Specific Antigen (PSA) is a very useful blood test for following the response of prostate cancer to treatment.

For patients treated with radiation therapy alone for prostate cancer, the PSA tends to take 2-3 years to reach a minimum value (nadir). If the PSA begins to rise again after the nadir value, this may represent a recurrence of prostate cancer.

The 1996 ASTRO (American Society for Radiation Oncology) definition (1) of a biochemical recurrence is: 3 consecutive rising PSA values after reaching the nadir value (lowest point) of the sample.

You are given a list of PSA values for one patient. The list consists of 12 PSA values in ng/mL (as a float with 2 decimal places) each taken 6 months apart. The first value is taken immediately before treatment. The accuracy is two decimal points. The nadir (minimum value) will appear only once in the list.

Return True if the values meet the ASTRO criteria (3 consecutive increases in PSA occuring any time after reaching the lowest value) or False if they do not.

For clarity, the 3 consecutive increases may start directly from the nadir but do not have to. See examples below.

Examples:

Input:
[7.91, 2.43, 1.49, 0.99, 0.74, 0.48, 0.52, 0.50, 0.66, 1.26, 1.36, 1.35]
Ouput:
True
# Nadir 0.48,  3 subsequent rises: 0.50->0.66, 0.66->1.26 , 1.26->1.36

Input:
[9.98, 8.56, 4.62, 1.16, 0.26, 0.37, 0.32, 1.02, 0.99, 1.56, 1.41, 2.35]
Ouput:
False
# Nadir 0.26. No subsequent sequence of 3 consecutive rises. 

Input:
[12.57, 6.86, 1.86, 1.93, 0.60, 1.26, 0.99 ,2.1, 0.70, 0.72, 0.88, 1.9]
Output:
True
# Nadir 0.60, 3 subsequent consecutive rises: 0.70->0.72, 0.72->0.88, 0.88->1.9

Input:
[14.66, 3.14, 0.53, 0.58, 1.00, 1.26, 0.99 ,2.1, 1.50, 2.53, 2.17, 2.50]
Output:
True
# Nadir 0.53.  3 subsequent consecutive rises: 0.53->0.58, 0.58->1.00, 1.00-> 1.26
(1) Cox J, Grignon D, Kaplan R, Parsons J, Schellhammer P. Consensus statement: guidelines for PSA following radiation therapy. Int J Radiat Oncol Biol Phys. 1997;37:1035– 1041.

In [ ]:
#0
def recurrence(values):
    min_val = min(values)
    min_index = values.index(min_val)
    s = 0
    for i in range(min_index, len(values)-1):
        i_min = values[i]
        if values[i+1] > i_min:
            s += 1
        if values[i+1] <= i_min and s < 3:
            s = 0
    
    return s >= 3

#1
def recurrence(values):
    s = 0
    for i in range(values.index(min(values)), len(values)-1):
        i_min = values[i]
        if values[i+1] > i_min:
            s += 1
        if values[i+1] <= i_min and s < 3:
            s = 0
    
    return s >= 3

# Задача 344(7) Find all pairs:

Notes:

Array can be empty or contain only one value; in this case return 0
If there are more pairs of a certain number, count each pair only once. E.g.: for [0, 0, 0, 0] the return value is 2 (= 2 pairs of 0s)
Random tests: maximum array length is 1000, range of values in array is between 0 and 1000

Examples

[1, 2, 5, 6, 5, 2]  -->  2

...because there are 2 pairs: 2 and 5

[1, 2, 2, 20, 6, 20, 2, 6, 2]  -->  4

...because there are 4 pairs: 2, 20, 6 and 2 (again)

In [ ]:
#0
def duplicates(arr):
    
    if len(arr) <= 1:
        return 0
    
    count = 0
    
    while len(arr) > 1:
        if arr[0] in arr[1:]:
            idx = arr[1:].index(arr[0])
            count += 1
            del arr[idx+1]
        
        arr = arr[1:]
            
    return count

In [ ]:
#1
def duplicates(arr):
    return sum(arr.count(i)//2 for i in set(arr))

#2
def duplicates(arr):
    uniques = set(arr)
    pairs = 0
    for i in uniques:
        pairs = pairs + (arr.count(i)//2)
    return pairs

# Задача 345 (7)  Odd March Bits 8 bits

Odd bits are getting ready for Bits Battles.

Therefore the n bits march from right to left along an 8 bits path. Once the most-significant bit reaches the left their march is done. Each step will be saved as an array of 8 integers.

Return an array of all the steps.

1 <= n <= 8

NOTE: n != 0, because n represents the number of 1s.

Examples
This resembles a simple 8 LED chaser:

n = 3

00000111
00001110
00011100
00111000
01110000
11100000


n = 7

01111111
11111110

In [ ]:
#0
def bit_march(n):
    res = []
    position = 7 - n
    for i in range(9-n):
        append_list = [1 if position < x < position + n + 1 else 0 for x in range(8)]
        position -= 1
        res.append(append_list)
    return res

#1
def bit_march (n : int) -> list:
    a = []
    for i in range(9-n):
        r = [0]*8
        for x in range(n):
            r[7-i-x] = 1
        print(r)
        a.append(r)
    return a

# Задача 346(7) Strange mathematics

So, for example, if n = 11, then the numbers in strange mathematics are ordered as follows:

1, 10, 11, 2, 3, 4, 5, 6, 7, 8, 9.

Help your students to learn this science: write a function that receives two integer numbers: n (total amount of numbers in strange mathematics) and k (number from sequence) and returns the location of a given number k in the order defined in strange mathematics.

For example, if n = 11 and k = 2, the function should return 4 as the answer.

Input: 1 <= n <= 100 000 , 1 <= k <= n.

Output: position of the number k in sequence of the first n natural numbers in lexicographic order. Numbering starts with 1.

Examples:

strange_math(11, 2) == 4

strange_math(15, 5) == 11

strange_math(15, 15) == 7

In [ ]:
#0
def strange_math(n, k):
    return sorted(map(str,range(1,n+1))).index(str(k))+1

In [ ]:
#1
def strange_math(n, k):
    return sorted(range(n+1), key=str).index(k)

#2
strange_math = lambda n, k: sorted(str(x) for x in range(1,n+1)).index(str(k))+1

# Задача 347(8) Sum of differences in array

Your task is to sum the differences between consecutive pairs in the array in descending order.

Example
[2, 1, 10]  -->  9
In descending order: [10, 2, 1]

Sum: (10 - 2) + (2 - 1) = 8 + 1 = 9

If the array is empty or the array has only one element the result should be 0 (Nothing in Haskell ).

In [ ]:
#0
def sum_of_differences(arr):
    arr.sort(reverse=True)
    s = 0
    for i in list(zip(arr, arr[1:])):
        s += i[0] - i[1]
    return s

In [ ]:
#1
def sum_of_differences(arr):
    return max(arr) - min(arr) if arr else 0

#2
def sum_of_differences(arr):
    arr = sorted(arr, reverse=True)
    return sum(a - b for a, b in zip(arr, arr[1:]))

# Задача 348(7) he Robber Language

Introduction
The Robber Language (Rövarspråket) is a Swedish cant used by children to mislead people not familiar with the language. It's used by kids in several screenplays created by Astrid Lindgren.

The idea is that every consonant in a sentence is duplicated, with an o inserted in between (b becomes bob). Vowels are left untouched (a remains an a). It's quite hard for an untrained ear to understand a conversation encoded in this manner, especially if spoken rapidly.

Example
In this example, the consonants f, b and r are modified. The vowels o and a are left untouched.

'foo bar' => 'fofoo bobaror' (`fof-o-o bob-a-ror`)
Note: The dashes - in the example are added for readability and should not be included in the output.

The Assignment
Your task is to implement a function def robber_encode(sentence) which takes in a string sentence and returns the result converted into robber language.

Notes
Only consonants should be modified; leave all other characters unchanged.
Both upper and lower case characters will be tested.
The case of the o character and the neighboring consonants should match (F => FOF and f => fof).
For the purpose of this kata, a character is considered a consonant if it's equal to one of the letters BCDFGHJKLMNPQRSTVWXYZ.
Testing
The tests will challenge your function with sentences of length 0-255, ASCII characters between 32-126 and nothing else.

Links
Check out these links for more information:

# Задача 349(7) Coding Meetup #5 - Higher-Order Functions Series - Prepare the count of languages

You will be given an array of objects (associative arrays in PHP, table in COBOL) representing data about developers who have signed up to attend the next coding meetup that you are organising.

Your task is to return an object (associative array in PHP, table in COBOL) which includes the count of each coding language represented at the meetup.

For example, given the following input array:

list1 = [
    { 'firstName': 'Noah', 'lastName': 'M.', 'country': 'Switzerland', 'continent': 'Europe', 'age': 19, 'language': 'C' },

    { 'firstName': 'Anna', 'lastName': 'R.', 'country': 'Liechtenstein', 'continent': 'Europe', 'age': 52, 'language': 'JavaScript' },

    { 'firstName': 'Ramon', 'lastName': 'R.', 'country': 'Paraguay', 'continent': 'Americas', 'age': 29, 'language': 'Ruby' },

    { 'firstName': 'George', 'lastName': 'B.', 'country': 'England', 'continent': 'Europe', 'age': 81, 'language': 'C' },
    ]
your function should return the following object (associative array in PHP, table in COBOL):

{ 'C': 2, 'JavaScript': 1, 'Ruby': 1 }

Notes:

The order of the languages in the object does not matter.
The count value should be a valid number.
The input array will always be valid and formatted as in the example above.

In [ ]:
#0
from collections import Counter
def count_languages(lst): 
    programm = []
    for i in lst:
        programm.append(i.get('language'))
    return Counter(programm)
  
#1
from collections import Counter
def count_languages(lst): 
    programm = [i.get('language') for i in lst]
    return Counter(programm)

#2
from collections import Counter
def count_languages(lst): 
    return Counter([i.get('language') for i in lst])

In [ ]:
#3
def count_languages(lst): 
    language = [el['language'] for el in lst]
    return {i: language.count(i) for i in language}

# Задача 350(7) Coprime Validator

Write a program to determine if the two given numbers are coprime. A pair of numbers are coprime if their greatest shared factor is 1.

The inputs will always be two positive integers between 2 and 99.

Examples

20 and 27:

Factors of 20: 1, 2, 4, 5, 10, 20

Factors of 27: 1, 3, 9, 27

Greatest shared factor: 1

Result: 20 and 27 are coprime

12 and 39:

Factors of 12: 1, 2, 3, 4, 6, 12

Factors of 39: 1, 3, 13, 39

Greatest shared factor: 3

Result: 12 and 39 are not coprimes

In [ ]:
#0 
def are_coprime(n,m):
    lst1 = [i for i in range(1,n+1) if n % i == 0]
    lst2 = [i for i in range(1,m+1) if m % i == 0]
    if len(lst1) < len(lst2):
        for i, item in enumerate(lst1):
            if item in lst2 and lst1[i] != 1:
                return False
        return True
    else:
        for i, item in enumerate(lst2):
            if item in lst1 and lst2[i] != 1:
                return False
        return True

In [ ]:
#1
from fractions import gcd

def are_coprime(n, m):
  return gcd(n, m) == 1

#2
def are_coprime(n, m):
    # All hail Euclid and his wonderful algorithm
    while m > 0:
        n, m = m, n % m
    return n == 1

#3
def are_coprime(x,y):
    arrX = [i for i in range(1, x + 1) if x % i == 0]
    arrY = [i for i in range(1, y + 1) if y % i == 0]
    return len(list(set(arrX) & set(arrY))) == 1

#4
def are_coprime(n,m):
    if m <2 : return m==1
    return are_coprime(m,n%m)

# Задача 351(7) Ce*s*r*d Strings

Fortunately, I discovered that the virus hides my censored letters inside root directory.

It will be very tedious to recover all these files manually, so your goal is to implement uncensor function that does the hard work automatically.

Examples
uncensor("*h*s *s v*ry *tr*ng*", "Tiiesae") ➜ "This is very strange"

uncensor("A**Z*N*", "MAIG") ➜ "AMAZING"

uncensor("xyz", "") ➜ "xyz"

Notes

Expect all discovered letters to be given in the correct order.
Discovered letters will match the number of censored ones.
Any character can be censored.

In [ ]:
#0
def uncensor(infected, discovered):
    if  discovered == '':
        return infected
    s = ''
    for i in infected:
        if i =='*':
            s += discovered[0]
            discovered = discovered[1:]
        else:
            s += i
    return s

In [ ]:
#1
def uncensor(infected, discovered):
    return infected.replace('*', '{}').format(*discovered)
  
#2
def uncensor(s, sub):
    it=iter(sub)
    return ''.join( c if c!='*' else next(it) for c in s )

#3
from re import sub

def uncensor(infected, discovered):
    it = iter(discovered)
    return sub(r"\*", lambda _:next(it), infected)

#4
def uncensor(infected, discovered):
    for letter in discovered:
        infected = infected.replace('*',letter,1)
    return infected

# Задача 352(7) Strong Number (Special Numbers Series #2)

Definition
Strong number is the number that the sum of the factorial of its digits is equal to number itself.

For example, 145 is strong, since 1! + 4! + 5! = 1 + 24 + 120 = 145.

Task

Given a number, Find if it is Strong or not and return either "STRONG!!!!" or "Not Strong !!".

Notes

Number passed is always Positive.
Return the result as String
Input >> Output Examples
strong_num(1) ==> return "STRONG!!!!"
Since, the sum of its digits' factorial (1) is equal to number itself, then its a Strong.

strong_num(123) ==> return "Not Strong !!"
Since the sum of its digits' factorial of 1! + 2! + 3! = 9 is not equal to number itself, then it's Not Strong .

strong_num(2)  ==>  return "STRONG!!!!"
Since the sum of its digits' factorial of 2! = 2 is equal to number itself, then its a Strong.

strong_num(150) ==> return "Not Strong !!"
Since the sum of its digits' factorial of 1! + 5! + 0! = 122 is not equal to number itself, Then it's Not Strong .

In [ ]:
#0
from math import factorial

def strong_num(number):
    lst = [i for i in str(number)]
    sum  = 0
    for i in lst:
        sum += factorial(int(i))
    return "STRONG!!!!" if number == sum else "Not Strong !!"

#1
from math import factorial

def strong_num(number):
    return "STRONG!!!!" if number == sum([factorial(int(i)) for i in [i for i in str(number)]]) else "Not Strong !!"

In [ ]:
#2
from math import factorial
def strong_num(number):
  return ("Not Strong !!", "STRONG!!!!")[sum(factorial(int(i)) for i in str(number)) == number]

# Задача 353(7) Odd-Even String Sort

Given a string s. You have to return another string such that even-indexed and odd-indexed characters of s are grouped and groups are space-separated (see sample below)

Note: 
0 is considered to be an even index. 
All input strings are valid with no spaces
input: 'CodeWars'
output 'CdWr oeas'

S[0] = 'C'
S[1] = 'o'
S[2] = 'd'
S[3] = 'e'
S[4] = 'W'
S[5] = 'a'
S[6] = 'r'
S[7] = 's'
Even indices 0, 2, 4, 6, so we have 'CdWr' as the first group
odd ones are 1, 3, 5, 7, so the second group is 'oeas'
And the final string to return is 'Cdwr oeas'

In [ ]:
#0
def sort_my_string(s):
    s1 = "".join([item for i, item in enumerate(s) if i % 2 == 0])
    s2 = "".join([item for i, item in enumerate(s) if i % 2 != 0])
    return s1 + " " +  s2

In [ ]:
#1
def sort_my_string(s):
    return '{} {}'.format(s[::2], s[1::2])
  
#2
def sort_my_string(s):
    return s[::2] + ' ' + s[1::2]

#3
sort_my_string = lambda w: w[::2] +' '+ w[1::2]

# Задача 354(7) Scrabble Score

Write a program that, given a word, computes the scrabble score for that word.

Letter Values
You'll need these:

Letter                           Value
A, E, I, O, U, L, N, R, S, T       1
D, G                               2
B, C, M, P                         3
F, H, V, W, Y                      4
K                                  5
J, X                               8
Q, Z                               10
There will be a preloaded dictionary dict_scores with all these values: dict_scores["E"] == 1

Examples
"cabbage" --> 14
"cabbage" should be scored as worth 14 points:

3 points for C
1 point for A, twice
3 points for B, twice
2 points for G
1 point for E
And to total:

3 + 2*1 + 2*3 + 2 + 1 = 3 + 2 + 6 + 3 = 14

Empty string should return 0. The string can contain spaces and letters (upper and lower case), you should calculate the scrabble score only of the letters in that string.

""           --> 0
"STREET"    --> 6
"st re et"    --> 6
"ca bba g  e" --> 14

In [ ]:
#0
def scrabble_score(st):
    sum = 0
    st = st.upper().replace(" ","")
    for i in st:
        sum += dict_scores.get(i, 0)
    return sum

#1
def scrabble_score(st):
    return sum([dict_scores.get(i, 0) for i in st.upper()])

# Задача 355(7) The Office I - Outed

Your colleagues have been looking over you shoulder. When you should have been doing your boring real job, you've been using the work computers to smash in endless hours of codewars.

In a team meeting, a terrible, awful person declares to the group that you aren't working. You're in trouble. You quickly have to gauge the feeling in the room to decide whether or not you should gather your things and leave.

Given an object (meet) containing team member names as keys, and their happiness rating out of 10 as the value, you need to assess the overall happiness rating of the group. If <= 5, return 'Get Out Now!'. Else return 'Nice Work Champ!'.

Happiness rating will be total score / number of people in the room.

Note that your boss is in the room (boss), their score is worth double it's face value (but they are still just one person!).

In [ ]:
#0
def outed(meet, boss):
    sum = 0
    for i in meet:
        if i == boss:
            sum += meet.get(i,0) * 2
        else:
            sum += meet.get(i,0)
    mean = sum / len(meet)
    return 'Get Out Now!' if mean <= 5 else 'Nice Work Champ!'

#1
def outed(meet, boss):
    total = sum([meet.get(i,0) if i!=boss else meet.get(i,0) * 2 for i in meet ]) / len(meet)
    return 'Get Out Now!' if total <= 5 else 'Nice Work Champ!'

In [ ]:
#2
def outed(meet, boss):
    return 'Get Out Now!' if (sum(meet.values()) + meet[boss] ) / len(meet) <= 5 else 'Nice Work Champ!'

# Задача 355(7) ATM

An ATM has banknotes of nominal values 10, 20, 50, 100, 200 and 500 dollars. You can consider that there is a large enough supply of each of these banknotes.

You have to write the ATM's function that determines the minimal number of banknotes needed to honor a withdrawal of n dollars, with 1 <= n <= 1500.

Return that number, or -1 if it is impossible.

Good Luck!!!

In [ ]:
#0
def solve(n):
    
    s = 0
    
    if n >= 500:
        while n >= 500:
            n = n - 500
            s += 1
    
    if n >= 200:
        while n >= 200:
            n = n - 200
            s += 1
        
    if n >= 100:
        while n >= 100:
            n = n - 100
            s += 1

    if n >= 50:
        while n >= 50:
            n = n - 50
            s += 1
         
    if n >= 20:
        while n >= 20:
            n = n - 20
            s += 1

    if n >= 10:
        while n >= 10:
            n = n - 10
            s += 1

    return s if n == 0 else -1

In [ ]:
#1
def solve(n):
    if n%10: return -1
    c, billet = 0, iter((500,200,100,50,20,10))
    while n:
        x, r = divmod(n, next(billet))
        c, n = c+x, r
    return c

#2
def solve(n, cnt=0):    
    if n%10: return -1
    for i in (500,200,100,50,20,10):
        cnt += n//i
        n = n%i
    return cnt

#3
def solve(n):
    t=0
    for d in [500,200,100,50,20,10]:
        a,n=divmod(n,d)
        t+=a
    if n: return -1
    return t

# Задача 356(7) Switcheroo:

Given a string made up of letters a, b, and/or c, switch the position of letters a and b (change a to b and vice versa). Leave any incidence of c untouched.

Example:

'acb' --> 'bca'
'aabacbaa' --> 'bbabcabb'

In [ ]:
#0 
def switcheroo(s):
    s1 = ''
    for i in s:
        if i == 'a':
            s1 += 'b'
        if i == 'b':
            s1 += 'a'
        if i == 'c':
            s1 += 'c'
    return s1

#1
def switcheroo(s):
    s1 = ''
    for i in s:
        if i != 'a' and i != 'b':
            s1 += 'c'
        else:
            if i == 'a':
                s1 += 'b'
            else:
                s1 += 'a'
    return s1

In [ ]:
#2
def switcheroo(string):
    return ((string.replace('a','x')).replace('b','a')).replace('x','b')

#3
def switcheroo(s):
    return s.translate(str.maketrans('ab','ba'))

#4
switcheroo = lambda q: q.translate({97: 98, 98: 97})

#5
def switcheroo(string):
    return ''.join({'a':'b', 'b':'a'}.get(c, c) for c in string)

#6
def switcheroo(string):
    return ''.join( [ 'a' if s=='b' else 'b' if s=='a' else s for s in string ] )

# Задача 357(7) Multiples By Permutations II

We have two consecutive integers k1 and k2, k2 = k1 + 1

We need to calculate the lowest strictly positive integer n, such that: the values nk1 and nk2 have the same digits but in different order.

E.g.# 1:

k1 = 100
k2 = 101
n = 8919

Because 8919 * 100 = 891900 
and      8919 * 101 = 900819


E.g.# 2:

k1 = 325
k2 = 326
n = 477

Because 477 * 325 = 155025
and      477 * 326 = 155502

Your task is to prepare a function that will receive the value of k and outputs the value of n.

The examples given above will be:

find_lowest_int(100) === 8919
find_lowest_int(325) ===  477
Features of the random tests

10 < k < 10.000.000.000.000.000 (For Python, Ruby and Haskell)
10 < k < 1.000.000.000  (For Javascript 1e9)

In [ ]:
#0
def find_lowest_int(k):
    k2 = k + 1
    n = 3
    while ''.join(sorted(str(n*k))) != ''.join(sorted(str(n*k2))):
        n += 1
    return n

Задача 358(7) Make acronym

Write function which takes a string and make an acronym of it.

Rule of making acronym in this kata:

split string to words by space char
take every first letter from word in given string
uppercase it
join them toghether
Eg:

Code wars -> C, w -> C W -> CW

In [ ]:
#0
def to_acronym(inp):
    return ''.join([i[0].upper() for i in inp.split()])

In [ ]:
#1
to_acronym = lambda input: "".join(list(map(lambda x: x[0].upper(),input.split())))

#2
import re

def to_acronym(s):
    return ''.join(re.findall(r'\b(\w)', s)).upper()

# Задача 358(7) Collatz Conjecture Length

The Collatz Conjecture states that for any natural number n, if n is even, divide it by 2. If n is odd, multiply it by 3 and add 1. If you repeat the process continuously for n, n will eventually reach 1.

For example, if n = 20, the resulting sequence will be:

[ 20, 10, 5, 16, 8, 4, 2, 1 ]
Write a program that will output the length of the Collatz Conjecture for any given n.
In the example above, the output would be 8.

For more reading see: http://en.wikipedia.org/wiki/Collatz_conjecture

In [ ]:
#0
def collatz(n):
    lst = []
    while n != 1:
        if n % 2 == 0:
            n = n // 2
            lst.append(n)
        else:
            n = n * 3 + 1
            lst.append(n)
            
    return len(lst) + 1

In [ ]:
#1
def collatz(n):
    return 1 if n == 1 else 1 + collatz(3 * n + 1 if n % 2 else n // 2)

#2
def collatz(n):
    count = 1
    while n > 1:
        if n % 2 == 0:
            n //= 2
            count += 1
        else:
            n = n * 3 + 1
            count += 1
    return count

# Задача 359(7) Rock Paper Scissors Lizard Spock

In this kata, your task is to implement an extended version of the famous rock-paper-scissors game. The rules are as follows:

Scissors cuts Paper
Paper covers Rock
Rock crushes Lizard
Lizard poisons Spock
Spock smashes Scissors
Scissors decapitates Lizard
Lizard eats Paper
Paper disproves Spock
Spock vaporizes Rock
Rock crushes Scissors
Task:
Given two values from the above game, return the Player result as "Player 1 Won!", "Player 2 Won!", or "Draw!".

Inputs
Values will be given as one of "rock", "paper", "scissors", "lizard", "spock".

In [ ]:
#0
def rpsls(pl1, pl2):
    
    if pl1 == pl2:
        return 'Draw!'
    
    dct1 = {
           'paper' : 'rock',
           'rock' :'lizard',
           'lizard' : 'spock',
           'spock' : 'scissors',
           'scissors' : 'lizard',
           }
    
    dct2 = {'scissors' : 'paper',
           'lizard' : 'paper',
           'paper' : 'spock',
           'spock' : 'rock',
           'rock' : 'scissors'}
    
    
    if dct1[pl1] == pl2:
        return 'Player 1 Won!'
    
    elif dct2[pl1] == pl2:
        return 'Player 1 Won!'
    else:
        return 'Player 2 Won!'

In [ ]:
#1
ORDER = "rock lizard spock scissors paper spock rock scissors lizard paper rock"

def rpsls(p1, p2):
    return ( "Player 1 Won!" if f"{p1} {p2}" in ORDER
        else "Player 2 Won!" if f"{p2} {p1}" in ORDER
        else "Draw!" )


#2
def rpsls(a, b):
    dic = {'spock':'scissors rock',
          'scissors':'lizard paper',
          'paper':'spock rock',
          'rock':'lizard scissors',
          'lizard':'spock paper'}
    return 'Player 1 Won!' if b in dic[a] else
           'Player 2 Won!' if a in dic[b] else 'Draw!'

# Задача 360(7) Sum a list but ignore any duplicates

Please write a function that sums a list, but ignores any duplicate items in the list.

For instance, for the list [3, 4, 3, 6] , the function should return 10.

In [ ]:
#0
def sum_no_duplicates(l):
    s = 0
    for i in l:
        if l.count(i) == 1:
            s += i
    return s

#1
def sum_no_duplicates(l):
    return sum([i for i in l if l.count(i)==1])

In [ ]:
#2
from collections import Counter

def sum_no_duplicates(l):
    return sum(k for k,v in Counter(l).items() if v == 1)

#3
def sum_no_duplicates(l):
    return sum(filter(lambda n: l.count(n) == 1, l))

# Задача 361(7) Race Ceremony

The national go-kart racing competition is taking place in your local town and you've been called for building the winners podium with the available wooden blocks. Thankfully you are in a wood-rich area, number of blocks are always at least 6.

Remember a classic racing podium have three platforms for first, second and third places. First place is the highest and second place is higher than third. Also notice that platforms are arranged as 2nd - 1st - 3rd.

The organizers want a podium that satisfies:

The first place platform has the minimum height possible
The second place platform has the closest height to first place
All platforms have heights greater than zero.
Task
Given the numbers of blocks available, return an array / tuple or another data structure depending on the language (refer sample tests) with the heights of 2nd, 1st, 3rd places platforms.

Examples (input -> output)
11 ->   [4, 5, 2]
6  ->   [2, 3, 1]
10 ->   [4, 5, 1]

In [ ]:
#0
from math import ceil

def race_podium(blocks):
    
    if blocks == 7:
        return (2,4,1)
    
    n2 = ceil(blocks / 3)
    
    n1 = n2 + 1
    
    n3 = blocks - n1 - n2

#1
def race_podium(blocks):
    if blocks == 7:
        return (2, 4, 1)
    second = blocks // 3 + (blocks % 3 != 0)
    first = second + 1
    third = blocks - first - second
    return (second, first, third)

# Задача 362(7) Method For Counting Total Occurence Of Specific Digits

We need a method in the List Class that may count specific digits from a given list of integers. This marked digits will be given in a second list. The method .count_spec_digits()/.countSpecDigits() will accept two arguments, a list of an uncertain amount of integers integers_lists/integersLists (and of an uncertain amount of digits, too) and a second list, digits_list/digitsList that has the specific digits to count which length cannot be be longer than 10 (It's obvious, we've got ten digits). The method will output a list of tuples, each tuple having two elements, the first one will be a digit to count, and second one, its corresponding total frequency in all the integers of the first list. This list of tuples should be ordered with the same order that the digits have in digitsList

Let's see some cases:

l = List()

integers_list =  [1, 1, 2 ,3 ,1 ,2 ,3 ,4]
digits_list = [1, 3]
l.count_spec_digits(integers_list, digits_list) == [(1, 3), (3, 2)]

integers_list = [-18, -31, 81, -19, 111, -888]
digits_list = [1, 8, 4]
l.count_spec_digits(integers_list, digits_list) == [(1, 7), (8, 5), (4, 0)]

integers_list = [-77, -65, 56, -79, 6666, 222]
digits_list = [1, 8, 4]
l.count_spec_digits(integers_list, digits_list) == [(1, 0), (8, 0), (4, 0)]
Enjoy it!!

In [ ]:
#0
class List(object):
    def count_spec_digits(self, integers_list, digits_list):
        lst_count = []
        str_integers = "".join(map(str, integers_list))
        for i in digits_list:
            lst_count.append(str_integers.count(str(i)))
        return list(zip(digits_list, lst_count))

#1
class List(object):
    def count_spec_digits(self, integers_list, digits_list):
        str_integers = "".join(map(str, integers_list))
        lst_count = [str_integers.count(str(i)) for i in digits_list]    
        return list(zip(digits_list, lst_count))

# Задача 363(7) Which section did you scroll to?

Your website is divided vertically in sections, and each can be of different size (height).
You need to establish the section index (starting at 0) you are at, given the scrollY and sizes of all sections.
Sections start with 0, so if first section is 200 high, it takes 0-199 "pixels" and second starts at 200.

Example:
With scrollY = 300 and sizes = [300,200,400,600,100]

the result will be 1 as it's the second section.

With scrollY = 1600 and size = [300,200,400,600,100]

the result will be -1 as it's past last section.

Given the scrollY integer (always non-negative) and an array of non-negative integers (with at least one element), calculate the index (starting at 0) or -1 if scrollY falls beyond last section (indication of an error).

test.assert_equals(get_section_id(299, [300, 200, 400, 600, 100]), 0)
test.assert_equals(get_section_id(300, [300, 200, 400, 600, 100]), 1)
test.assert_equals(get_section_id(1600, [300, 200, 400, 600, 100]), -1)

In [ ]:
#0
def get_section_id(scroll, sizes):
    
    if scroll >= sum(sizes):
        return -1
    
    count = 0
    s =  0
    
    for i in sizes:
        s += i
        if scroll < s:
            return count
        count += 1

In [ ]:
#1
def get_section_id(scroll, sizes):
    c = 0
    for idx, s in enumerate(sizes):
        c += s
        if scroll < c: 
          return idx
    return -1

#2
from itertools import accumulate

def get_section_id(scroll, sizes):
    return next((i for i,x in enumerate(accumulate(sizes)) if x > scroll), -1)

#3
def get_section_id(scroll, sizes):
    where = 0
    for i in range(len(sizes)):
        where += sizes[i]
        if where > scroll:
            return i
    return -1

# Задача 364(7) Geometric Progression Sequence

In your class, you have started lessons about geometric progression. Since you are also a programmer, you have decided to write a function that will print first n elements of the sequence with the given constant r and first element a.

Result should be separated by comma and space.

Example
geometric_sequence_elements(2, 3, 5) == '2, 6, 18, 54, 162'

More info: https://en.wikipedia.org/wiki/Geometric_progression

test.assert_equals(geometric_sequence_elements(2, 3, 5), '2, 6, 18, 54, 162')

test.assert_equals(geometric_sequence_elements(2, 2, 10), '2, 4, 8, 16, 32, 64, 128, 256, 512, 1024')

test.assert_equals(geometric_sequence_elements(1, -2, 10), '1, -2, 4, -8, 16, -32, 64, -128, 256, -512')

In [ ]:
#0
def geometric_sequence_elements(a, r, n):
    count = 1
    lst = []
    lst.append(a)
    while count < n:
        lst.append(a * r)
        count += 1
        a *= r
    return ", ".join(map(str, lst))

In [ ]:
#1
def geometric_sequence_elements(a, r, n):
    return ', '.join(str(a * r ** i) for i in xrange(n))

# Задача 365(7) Numbers Which Sum of Powers of Its Digits Is The Same Number

In [ ]:
Not considering number 1, the integer 153 is the first integer having this property: the sum of the third-power of each of its digits is equal to 153. Take a look: 153 = 1³ + 5³ + 3³ = 1 + 125 + 27 = 153

The next number that experiments this particular behaviour is 370 with the same power.

Write the function eq_sum_powdig(), that finds the numbers below a given upper limit hMax (inclusive) that fulfills this property but with different exponents as the power for the digits.

eq_sum_powdig(hMax, exp): ----> sequence of numbers (sorted list) (Number one should not be considered).

Let's see some cases:

eq_sum_powdig(100, 2) ----> []

eq_sum_powdig(1000, 2) ----> []

eq_sum_powdig(200, 3) ----> [153]

eq_sum_powdig(370, 3) ----> [153, 370]
Enjoy it !!

In [ ]:
#0
def eq_sum_powdig(hMax, exp):
    list_return = [] 
    for i in range(2, hMax+1):
        lst = [str(num) for num in str(i)]
        sum = 0
        for x in lst:
            sum += int(x) ** exp
        if sum == i:
            list_return.append(i)
    return list_return

#1
def eq_sum_powdig(hMax, exp):
    list_return = [] 
    for i in range(2, hMax+1):
        lst = [int(num) for num in str(i)]
        total = sum((x ** exp for x in lst))
        if total == i:
            list_return.append(i)
    return list_return

#2
def eq_sum_powdig(hMax, exp):
    list_return = [] 
    for i in range(2, hMax+1):
        total_sum = sum((int(num) ** exp for num in str(i)))
        if total_sum == i:
            list_return.append(i)
    return list_return

In [ ]:
#3
def eq_sum_powdig(hMax, exp):
    return [i for i in xrange(2, hMax + 1) if i == sum(int(c) ** exp for c in str(i))]

# Задача 366(7) Split The Bill

It's tricky keeping track of who is owed what when spending money in a group. Write a function to balance the books.

The function should take one parameter: an object/dict with two or more name-value pairs which represent the members of the group and the amount spent by each.
The function should return an object/dict with the same names, showing how much money the members should pay or receive.
Further points:

The values should be positive numbers if the person should receive money from the group, negative numbers if they owe money to the group.
If value is a decimal, round to two decimal places.
Translations and comments (and upvotes!) welcome.

Example
3 friends go out together: A spends £20, B spends £15, and C spends £10. The function should return an object/dict showing that A should receive £5, B should receive £0, and C should pay £5.

group = {
    'A': 20, 
    'B': 15, 
    'C': 10
}

split_the_bill(group) # returns {'A': 5, 'B': 0, 'C': -5}

In [ ]:
#0
def split_the_bill(x):
    mean = round(sum(x.values()) / len(x), 2)
    dict_return = x.copy()
    for i in dict_return:
        dict_return[i] = round(dict_return[i] - mean, 2)
    return dict_return

#1
def split_the_bill(x):
    mean = round(sum(x.values()) / len(x), 2)
    dict_return = {}
    for i in x:
        dict_return[i] = round(x[i] - mean, 2)
    return dict_return

# Задача 367(7) Likes Vs Dislikes

Story
YouTube had a like and a dislike button, which allowed users to express their opinions about particular content. It was set up in such a way that you cannot like and dislike a video at the same time. There are two other interesting rules to be noted about the interface: Pressing a button, which is already active, will undo your press. If you press the like button after pressing the dislike button, the like button overwrites the previous "Dislike" state. The same is true for the other way round.

Task
Create a function that takes in a list of button inputs and returns the final state.

Examples
like_or_dislike([Dislike]) ➞ Dislike
like_or_dislike([Like, Like]) ➞ Nothing
like_or_dislike([Dislike, Like]) ➞ Like
like_or_dislike([Like, Dislike, Dislike]) ➞ Nothing
Notes
If no button is currently active, return Nothing.
If the list is empty, return Nothing.

like_or_dislike([Dislike]), Dislike

like_or_dislike([Like, Like]), Nothing

like_or_dislike([Dislike, Dislike]), Nothing

like_or_dislike([Like, Like, Like]), Like

like_or_dislike([Like, Dislike]), Dislike

ike_or_dislike([Dislike, Like]), Like

like_or_dislike([Like, Dislike, Dislike]), Nothing

like_or_dislike([Dislike, Like, Dislike]), Dislike

like_or_dislike([Like, Like, Dislike, Like, Like, Like, Like, Dislike])

like_or_dislike([]), Nothing, repr([]))

In [ ]:
#0
def like_or_dislike(lst):
    if len(lst) == 0:
        return 'Nothing'
    elif len(lst) == 1:
        return lst[0]
    
    flag = 0
    
    for i in lst:
        if i == 'Dislike':
            if flag == 0:
                flag = - 1
            elif flag == -1:
                flag = 0
            elif flag == 1:
                flag = -1
                
        elif i == 'Like':
            if flag == 0:
                flag = 1
            elif flag == 1:
                flag = 0
            elif flag == -1:
                flag = 1
    
    if flag == 1:
        return 'Like'
    elif flag == -1:
        return 'Dislike'
    else:
        return 'Nothing'

In [ ]:
#1
def like_or_dislike(lst):
    current = 'Nothing'
    for i in lst:
        if i == current:
            current = "Nothing"
        else:
            current = i
    return current

#2
def like_or_dislike(lst, status="Nothing"):
    for click in lst:
        status = "Nothing" if click == status else click
    return status

Задача 368(7) Simple Fun #10: Range Bit Counting

Task
You are given two numbers a and b where 0 ≤ a ≤ b. Imagine you construct an array of all the integers from a to b inclusive. You need to count the number of 1s in the binary representations of all the numbers in the array.

Example
For a = 2 and b = 7, the output should be 11

Given a = 2 and b = 7 the array is: [2, 3, 4, 5, 6, 7]. Converting the numbers to binary, we get [10, 11, 100, 101, 110, 111], which contains 1 + 2 + 1 + 2 + 2 + 3 = 11 1s.

Input/Output
[input] integer a
Constraints: 0 ≤ a ≤ b.

[input] integer b
Constraints: a ≤ b ≤ 100.

[output] an integer

In [ ]:
#0
def range_bit_count(a, b):
    return "".join(list(bin(i) for i in range(a, b+1))).count('1')

In [ ]:
#1
def range_bit_count(a, b):
    return sum(bin(i).count('1') for i in range(a, b+1))

# Задача 368(7) Sorting Dictionaries

Python dictionaries are inherently unsorted. So what do you do if you need to sort the contents of a dictionary?

Create a function that returns a sorted list of (key, value) tuples (Javascript: arrays of 2 items).

The list must be sorted by the value and be sorted largest to smallest.

Examples

sort_dict({3:1, 2:2, 1:3}) == [(1,3), (2,2), (3,1)]

sort_dict({1:2, 2:4, 3:6}) == [(3,6), (2,4), (1,2)]

sort_dict({1:5, 3:10, 2:2, 6:3, 8:8}), [(3,10), (8,8), (1,5), (6,3), (2,2)])

In [ ]:
#0
def sort_dict(d):
    d_sort = sorted(d, key=d.get, reverse=True)
    lst = []
    for i in d_sort:
        lst.append((i, d[i]))
    return lst

In [ ]:
#1
def sort_dict(d):
  return sorted(d.items(), key=lambda x: x[1], reverse=True)

#2
def sort_dict(d):
  'return a sorted list of tuples from the dictionary'
  return sorted(d.items(), key=lambda x: -x[1])

# Задача 369(7) **Spoonerize Me**

A spoonerism is a spoken phrase in which the first letters of two of the words are swapped around, often with amusing results.

In its most basic form a spoonerism is a two word phrase in which only the first letters of each word are swapped:

"not picking" --> "pot nicking"

Your task is to create a function that takes a string of two words, separated by a space: words and returns a spoonerism of those words in a string, as in the above example. A "word" in the context of this kata can contain any of the letters A through Z in upper or lower case, and the numbers 0 to 9. Though spoonerisms are about letters in words in the domain of written and spoken language, numbers are included in the inputs for the random test cases and they require no special treatment.

NOTE: All input strings will contain only two words. Spoonerisms can be more complex. For example, three-word phrases in which the first letters of the first and last words are swapped: "pack of lies" --> "lack of pies" or more than one letter from a word is swapped: "flat battery --> "bat flattery" You are NOT expected to account for these, or any other nuances involved in spoonerisms.

Once you have completed this kata, a slightly more challenging take on the idea can be found here: http://www.codewars.com/kata/56dbed3a13c2f61ae3000bcd

spoonerize("nit picking"), "pit nicking")

spoonerize("wedding bells"), "bedding wells")

spoonerize("jelly beans"), "belly jeans")

spoonerize("pop corn"), "cop porn")

In [ ]:
#0
def spoonerize(words):
    lst = words.split()
    s1 = lst[1][0] + lst[0][1:]
    s2 = lst[0][0] + lst[1][1:]
    return s1 + " " + s2

In [ ]:
#1
def spoonerize(words):
    a, b = words.split()
    return '{}{} {}{}'.format(b[0], a[1:], a[0], b[1:])

#2
def spoonerize(words):
    a, b = words.split()
    return f"{b[0]}{a[1:]} {a[0]}{b[1:]}"

#3
import re

def spoonerize(s):
    return re.sub("(.)(.+) (.)(.+)", r"\3\2 \1\4", s)

#4
import re
def spoonerize(words):
    s = re.finditer(r"\s", words)
    l = list(words)
    k = list(s)[-1].start()+1
    l[0], l[k] = l[k], l[0]
    return "".join(l)

# Задача 370(7) **Especially Joyful Numbers**

Positive integers that are divisible exactly by the sum of their digits are called Harshad numbers. The first few Harshad numbers are: 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 12, 18, ...

We are interested in Harshad numbers where the product of its digit sum s and s with the digits reversed, gives the original number n. For example consider number 1729:

its digit sum, s = 1 + 7 + 2 + 9 = 19

reversing s = 91

and 19 * 91 = 1729 --> the number that we started with.

Complete the function which tests if a positive integer n is Harshad number, and returns True if the product of its digit sum and its digit sum reversed equals n; otherwise return False.

In [ ]:
#0
def number_joy(n):
    sum_ = sum([int(i) for i in str(n)])
    rev_sum = int(str(sum_)[::-1])
    return sum_ * rev_sum == n

# Задача 371(7) **Anagram Detection**

An anagram is the result of rearranging the letters of a word to produce a new word (see wikipedia).

Note: anagrams are case insensitive

Complete the function to return true if the two arguments given are anagrams of each other; return false otherwise.

Examples
"foefet" is an anagram of "toffee"

"Buckethead" is an anagram of "DeathCubeK"


is_anagram("foefet", "toffee"), True, 'The word foefet is an anagram of toffee')

is_anagram("Buckethead", "DeathCubeK"), True, 'The word Buckethead is an anagram of DeathCubeK')

is_anagram("Twoo", "WooT"), True, 'The word Twoo is an anagram of WooT')

is_anagram("dumble", "bumble"), False, 'Characters do not match for test case dumble, bumble')

is_anagram("ound", "round"), False, 'Missing characters for test case ound, round')

is_anagram("apple", "pale"), False, 'Same letters, but different count')

In [ ]:
#0
def is_anagram(test, original):
    
    if len(test) != len(original):
        return False
    
    test = test.lower()
    original = original.lower()
    
    lst_org = list(original)
    
    for i in range(len(test)):
        if test[i] not in lst_org:
            return False
        char = test[i]
        lst_org[lst_org.index(char)] = 0
        
    return True

In [ ]:
#1
def is_anagram(test, original):
    return sorted(original.lower()) == sorted(test.lower())


#2
from collections import Counter

def is_anagram(test, original):
    return Counter(test.lower()) == Counter(original.lower())

#3
from operator import eq
from collections import Counter

def is_anagram(test, original):
    return eq(*map(Counter, map(str.lower, (test, original))))

# Задача 371(2) Unscrambled eggs

Unscramble the eggs.

The string given to your function has had an "egg" inserted directly after each consonant. You need to return the string before it became eggcoded.

Example
unscrambleEggs("Beggegeggineggneggeregg"); => "Beginner"
//             "B---eg---in---n---er---"

Kata is supposed to be for beginners to practice regular expressions, so commenting would be appreciated.

unscramble_eggs("ceggodegge heggeregge"), "code here")

unscramble_eggs("FeggUNegg KeggATeggA"),"FUN KATA")

In [ ]:
#0
def unscramble_eggs(word):
    lst = word.split('egg')
    for i, item in enumerate(lst):
        if 'egg' in item:
            lst.pop(i)
    return ''.join(lst)

In [ ]:
#1
def unscramble_eggs(word):
    return word.replace('egg','')

#2
from re import sub
def unscramble_eggs(word):
    # Geggoodegg Legguceggkegg!
    return sub(r'([^aieou])egg',r'\1', word)

#3
import re

def unscramble_eggs(word):
    return re.sub("(?<=[^aeiou])egg", "", word)

#4
import re

def unscramble_eggs(word):
    return re.sub(r'egg', r'', word, flags=re.I)

#5
import re

def unscramble_eggs(word):
  return re.sub(r'([^aeiouAEIOU])egg', r'\1', word)

# Задача 372(7) Hamming Distance - Part 1: Binary codes

The hamming distance of two equal-length strings is the number of positions, in which the two string differ. In other words, the number of character substitutions required to transform one string into the other.

For this first Kata, you will write a function hamming_distance(a, b) with two equal-length strings containing only 0s and 1s as parameters. There is no need to test the parameters for validity (but you can, if you want).The function's output should be the hamming distance of the two strings as an integer.

Example:

hamming_distance('100101', '101001') == 2

hamming_distance('1010', '0101') == 4

In [ ]:
#0
def hamming_distance(a, b):
    sum = 0
    for i in range(len(a)):
        if a[i] != b[i]:
            sum += 1
    return sum

In [ ]:
#1
def hamming_distance(a, b):
    return sum(c != d for c, d in zip(a, b))

# Задача 372(7) **Cubes in the box**

Cubes in the box
Your job is to write a function f(x,y,z) to count how many cubes of any size can fit inside a x*y*z box. For example, a 2*2*3 box has 12 1*1*1 cubes, 2 2*2*2 cubes, so a total of 14 cubes in the end. See the animation below for a visual description of the task!

Notes:
x,y,z are strictly positive and will not be too big.

In [ ]:
#0
def f(x, y, z):
    
    sum = x * y * z
    
    while x > 1 and y > 1 and z > 1:
        x -= 1
        y -= 1
        z -= 1
        
        sum += x * y * z
        
    return sum

In [ ]:
#1
def f(x, y, z):
    
    if x >= 1 or y >= 1 or z >= 1:
        sum = x * y * z
    else:
        sum = 0
    
    if x < 1 or y < 1 or z < 1:
        return sum
    else:
        return sum + f(x-1, y-1, z-1)

In [ ]:
#2
def f(x, y, z):
    return sum((x-i)*(y-i)*(z-i) for i in range(min(x, y, z)))

# Задача 373(7) **Correct the time-string**

A new task for you!

You have to create a method, that corrects a given time string.
There was a problem in addition, so many of the time strings are broken.
Time is formatted using the 24-hour clock, so from 00:00:00 to 23:59:59.
Examples

"09:10:01" -> "09:10:01"  

"11:70:10" -> "12:10:10"  

"19:99:99" -> "20:40:39"  

"24:01:01" -> "00:01:01"  


test.assert_equals(time_correct(None), None)
test.assert_equals(time_correct(""), "")

test.it("Invalid Format")
test.assert_equals(time_correct("001122"), None)

test.assert_equals(time_correct("00;11;22"), None)

test.assert_equals(time_correct("0a:1c:22"), None)

test.it("Correction Tests")

test.assert_equals(time_correct("09:10:01"), "09:10:01")

test.assert_equals(time_correct("11:70:10"), "12:10:10")

test.assert_equals(time_correct("19:99:99"), "20:40:39")

test.assert_equals(time_correct("24:01:01"), "00:01:01")

test.assert_equals(time_correct("52:01:01"), "04:01:01")

In [ ]:
#0

def time_correct(t):
    
    if t == "":
        return ""
    
    try:
        lst = list(map(int, t.split(":")))
    except (ValueError, AttributeError):
        return None
    
    if len(lst) != 3:
        return None
    
    sum = lst[0] * 3600 + lst[1] * 60 + lst[2]
    
    hour = sum // 3600
    
    sum -= hour * 3600
    
    min = sum // 60
    
    sec = sum - min * 60
    
    if hour >= 24:
        hour = hour % 24
    
    if hour < 10:
        hour = f"0{hour}"
        
    if min < 10:
        min = f"0{min}"
    
    if sec < 10:
        sec = f"0{sec}"
    
    
    
    return f"{hour}:{min}:{sec}"

In [ ]:
#1
def time_correct(t):
    if not t: return t
    try:
        h, m, s = map(int, t.split(':'))
        if s >= 60: s -= 60; m += 1
        if m >= 60: m -= 60; h += 1
        return '%02d:%02d:%02d' % (h % 24, m, s)
    except: pass

#2
def time_correct(t):
    try:
        h, m, s = (int(n) for n in t.split(":") if len(n) == 2)
    except (AttributeError, ValueError):
        return "" if t == "" else None
    s, m = s % 60, m + s // 60
    m, h = m % 60, (h + m // 60) % 24
    return f"{h:02d}:{m:02d}:{s:02d}"   # f'{h%24:02}:{m:02}:{s:02}' без d