Задача 1

С помощью функции input считайте с входящей строки целое положительное число и сохраните его в переменную N. Используя конструкцию if...else, выведите на экран результат в зависимости от условий:

* если N нечетное, то выведите на экран "N нечетное",
* если N четное и входит в интервал от 5 до 10 включительно, выведите на экран "N четное и принадлежит интервалу [5, 10]",
* если N четное и больше 10, выведите на экран "N четное и N > 10",
* если N четное и меньше 5, выведите на экран "N четное и N < 5".

**Решение:**

In [ ]:
N = int(input("Введите целое положительное число: "))

if N % 2 != 0 and N > 0:  #  Для проверки условия того, что введено положительное число
  print ("N нечетное")

elif 5 < N <= 10 and N % 2 == 0:
  print ("N четное и принадлежит интервалу [5, 10]") 

elif N > 10 and N % 2 == 0:
  print ("N четное и N > 10")

elif 0 < N < 5 and N % 2 == 0:
  print ("N четное и N < 5")

else:
  print ("Повторите попытку, введите число больше нуля")  # Если введено число не положительное

Введите целое положительное число: 6
N четное и принадлежит интервалу [5, 10]

### Задача 2

Используя цикл while, посчитайте и выведите на экран сумму квадратов всех целых чисел от 15 до 22 включительно.

**Решение:**

In [ ]:
i = 15
total = 0
while i <= 22:
  total += i ** 2 
  i += 1
print (total)

2780

### Задача 3

Используя цикл for, найдите сумму всех элементов заданного списка (без использования встроенных функций sum, len, sort и т. д.).

In [ ]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]

**Решение:**

In [ ]:
total = 0
for i in my_list:
  total += i
print (total)

880

### Задача 4

Используя цикл (любой), найдите значение максимального элемента списка из предыдущего задания (без использования встроенных функций max и т. д.). Можно использовать встроенные методы списков (любые). 

P.S. Не стесняйтесь гуглить :)

P.S. 2 Гуглить нужно фразу "алгоритм поиска максимального элемента массива".

Пример: для списка [3, 4, 1, 7, 2] значением максимального элемента является число 7.

**Решение:**

In [ ]:
my_list = [56, 23, 67, 45, 67, 2, 47, 158, 31, 34, 78, 23, 78, 23, 89, 23, 36]
max = 0 
for i in my_list:
  if i > max:
    max = i
print (max)

158

### Задача 5

Создайте словарь, соответствующий следующему описанию: в честь 8 Марта начальник отдела Валера решил принести на работу коробку конфет и угостить коллег :) Красотка Наташа съела две конфеты, ее подруга Алина - целых три, разработчик Марат унес с собой в соседний опен-спейс целых пятнадцать, чтобы поделиться со своей командой, менеджер проекта Лев проходил мимо и съел одну конфету, а сам Валера, будучи сторонником здорового образа жизни, не съел ни одной.

Добавьте в словарь из предыдущего задания данные для студента Ромы, который работает неполный рабочий день, и, придя на работу после экзамена, с удовольствием съел 4 конфеты.

P.S. Все совпадения случайны :) Для добавления Ромы используйте встроенный метод .update

**Решение:**

In [ ]:
sweet_dict = {'Наташа' : '2', 'Алина': '3', 'Марат' : '15', 'Лев' : '1', 'Валера' : '0'}
sweet_dict.update (Рома = '4')
sweet_dict

{'Алина': '3',
 'Валера': '0',
 'Лев': '1',
 'Марат': '15',
 'Наташа': '2',
 'Рома': '4'}