# Задание **Lite**
 
Дано отношение «Автодилеры»:

Модель	Фирма	Цена	Скидка

X5	BMW	2700000	5%

X1	BMW	1200000	5%

Qashqai	Nissan	1100000	5%

X-Trail  	Nissan	2100000	10%

**Преобразуйте отношение к 2НФ**

In [ ]:
# Импорт бибилиотек
import pandas as pd

In [ ]:
# Создаем изначальную таблицу
cars = pd.DataFrame({'Модель':['X5', 'X1', 'Qashqai', 'X-Trail'],   'Фирма':['BMW', 'BMW', 'Nissan', 'Nissan'], 
                     'Цена': [2700000, 1200000,  1100000, 2100000], 'Скидка':['5%', '5%', '5%', '10%']})
cars

    Модель   Фирма     Цена Скидка
0       X5     BMW  2700000     5%
1       X1     BMW  1200000     5%
2  Qashqai  Nissan  1100000     5%
3  X-Trail  Nissan  2100000    10%

Для того чтобы данную таблицу преобразовать ко **2ой Нормальной форме** надо разделить на **две** таблицы.

Согласно уроку можно добавить новый столбец **ID**, который будет связывать две эти тоблицы.

- Первая таблица это **ID** и модели
- Вторая таблица **ID** и стоимость

In [ ]:
# Создание первой таблицы

# Создание таблицы с ID
cars_id = pd.DataFrame({'ID':[122, 76, 14, 56]})
cars_id

    ID
0  122
1   76
2   14
3   56

In [ ]:
cars[['Модель', 'Фирма']]

    Модель   Фирма
0       X5     BMW
1       X1     BMW
2  Qashqai  Nissan
3  X-Trail  Nissan

In [ ]:
# Создание первой таблицы: связывает ID и название моделей
cars_model = pd.concat([cars_id, cars[['Модель', 'Фирма']]], axis=1)
cars_model

    ID   Модель   Фирма
0  122       X5     BMW
1   76       X1     BMW
2   14  Qashqai  Nissan
3   56  X-Trail  Nissan

In [ ]:
# Создание второй таблицы: связывает ID и стоимость
cars_price = pd.concat([cars_id, cars[['Модель', 'Цена', 'Скидка']]], axis=1)
cars_price

    ID   Модель     Цена Скидка
0  122       X5  2700000     5%
1   76       X1  1200000     5%
2   14  Qashqai  1100000     5%
3   56  X-Trail  2100000    10%

Теперь можно добавлять новые модели автомобилей в первую таблицу, не зависимо от цены.