Задача 1

Выведите на экран следующий паттерн:

@

@ @

@ @ @

@ @ @ @ @

Обратите внимание на пробел между символами. Рекомендуется использовать циклы (любые) для решения данного задания.

In [ ]:
for i in range (1,6):
  if i == 4:
       continue
  for j in range(i-1):        #(i-1) нужно для того что бы в конце не было пробела. На примере пробела нет. Если просто range(i) то будет пробел полсле @
     print("@", end =" ")
  print("@")                  # Печать символа @ без пробела и переход на новую строчку
  print()

  #Если скопировать вывод в блокнот, то там пробелов в крайнем символе @ нет.

@

@ @

@ @ @

@ @ @ @ @

### Задача 2

Выведите на экран следующий паттерн:

1

2 2 

3 3 3 

4 4 4 4 

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

Обратите внимание на пробел между символами. Рекомендуется использовать циклы (любые) для решения данного задания.

**Решение:**

In [ ]:
for i in range(1,6):
  for j in range(i-1):   #Аналогично как в Задаче 1. На примере после крайнего символа в строке нет пробела. 
    print(i, end=' ')    #Вывод всех символов в строке, кроме крайнего
  print (i, end ="")     #Вывод крайнего символа без пробела
  print('\n')
  
for i in range(i+1, 10):
  for j in range(9-i):    
    print(i, end=' ')     #Вывод всех символов в строке, кроме крайнего
  print (i, end = "")     #Вывод крайнего символа без пробела
  print('\n')

# Так же если скопировать в блокнот в конце строк пробела нет.

1

2 2

3 3 3

4 4 4 4

5 5 5 5 5

6 6 6 6

7 7 7

8 8

9

### Задача 3

Используя цикл while, выведите на экран таблицу умножения для числа 7.

**Пример**
    
Для числа 5 выдача выглядит так:
    
5 * 1 = 5

5 * 2 = 10

5 * 3 = 15

5 * 4 = 20

5 * 5 = 25

...

5 * 9 = 45

**Решение:**

In [ ]:
value = 7
i = 1
while i <= 9:
  print ( "{0} * {1} = {2}".format(value, i, value * i) )
  i += 1

7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63

### Задача 4

Представьте, что вы подбрасываете два кубика одновременно. Считайте с входящей строки два целых числа d1 и d2. Проверьте, соответсуют ли введенные числа интервалу значений для кубика. Если нет, то выведите на экран строку "Ошибка! Значение на кубике (1 или 2, вставьте подходящее значение) не входит в интервал [1, 6]". В противном случае посчитайте сумму выпавших значений. Если сумма равна 7 или 11, выведите на экран "Я победил!!!". Если сумма равна 2, 3 или 12, то выведите на экран "Я проиграл :(" Во всех остальных случаях выведите на экран сумму значений.

**Решение:**

In [ ]:
d1 = int (input("Введите значение первого кубика: "))
d2 = int (input("Введите значение второго кубика: "))

if d1 > 6 or d1 < 1:
  print ("Ошибка! Значение на кубике 1 не входит в интервал [1, 6]")  

elif d2 > 6 or d2 < 1:
  print ("Ошибка! Значение на кубике 2 не входит в интервал [1, 6]") 

elif d1 + d2 == 7 or d1 + d2 == 11:
    print ("Я победил!!!")

elif d1 + d2 == 2 or d1 + d2 == 3 or d1 + d2 == 12:
  print ("Я проиграл :(")

else:
  print (d1 + d2)

Введите значение первого кубика: -5
Введите значение второго кубика: -3
Ошибка! Значение на кубике 1 не входит в интервал [1, 6]

### Задача 5

Напишите код, который ищет все числа в интервале от 3000 до 4300 включительно, делящиеся на 11, но не делящиеся на 5. Выведите на экран все найденные числа.

**Решение:**

In [ ]:
for i in range(3000,4301):
  if i % 11 == 0 and i % 5 != 0:
    print (i)

3003
3014
3036
3047
3058
3069
3091
3102
3113
3124
3146
3157
3168
3179
3201
3212
3223
3234
3256
3267
3278
3289
3311
3322
3333
3344
3366
3377
3388
3399
3421
3432
3443
3454
3476
3487
3498
3509
3531
3542
3553
3564
3586
3597
3608
3619
3641
3652
3663
3674
3696
3707
3718
3729
3751
3762
3773
3784
3806
3817
3828
3839
3861
3872
3883
3894
3916
3927
3938
3949
3971
3982
3993
4004
4026
4037
4048
4059
4081
4092
4103
4114
4136
4147
4158
4169
4191
4202
4213
4224
4246
4257
4268
4279