### Задача 1. DateTime index

* Подгрузите данные 'data.csv' (возможно, придется указать кодировку encoding сp1250) в переменную data.
* Преобразуйте колонку InvoiceDate в DateTime index.
* Удалите колонку InvoiceDate.

**Решение:**

In [ ]:
import pandas as pd                  # Импортируем библиотеку pandas

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/NU/04 Pandas/data.csv', encoding='cp1250')
data

In [ ]:
data.index = pd.to_datetime(data.InvoiceDate)

In [ ]:
data

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-09 12:50:00    581587     22613  ...    12680.0          France
2011-12-09 12:50:00    581587     22899  ...    12680.0          France
2011-12-09 12:50:00    581587     23254  ...    12680.0          France
2011-12-09 12:50:00    581587     23255  ...    12680.0          France
2011-12-09 12:50:00    581587     22138  ...    12680.0          France

[541909 rows x 8 columns]

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/NU/04 Pandas/data.csv', encoding='cp1250')

# В качестве индекса используем колонку InvoiceDate преобразованную в DateTime index
data.index = pd.to_datetime(data.InvoiceDate)     

# Удаляем колонкуInvoiceDate
data.drop('InvoiceDate', axis =1, inplace = True)

# Выведем результат
data

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-01 08:26:00    536365    85123A  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365     71053  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84406B  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029G  ...    17850.0  United Kingdom
2010-12-01 08:26:00    536365    84029E  ...    17850.0  United Kingdom
...                       ...       ...  ...        ...             ...
2011-12-09 12:50:00    581587     22613  ...    12680.0          France
2011-12-09 12:50:00    581587     22899  ...    12680.0          France
2011-12-09 12:50:00    581587     23254  ...    12680.0          France
2011-12-09 12:50:00    581587     23255  ...    12680.0          France
2011-12-09 12:50:00    581587     22138  ...    12680.0          France

[541909 rows x 7 columns]

### Задача 2

Используя датафрейм data, выберите все заказы, совершенные за период 7 декабря 2010 года с часа дня до часа и одной минуты.

**Решение:**

In [ ]:
# Первый способ:

# С помощью подвыборки определим количество заказов за определенный период
period = data[(data.index > '2010-12-07 13:00') & (data.index <= '2010-12-07 13:01')]

#Определим количество заказов
print ("Количество заказов:",period.shape[0])


# Второй способ записи
per = data['2010-12-07 13:00' : '2010-12-07 13:01']
print ("Количество заказов:",per.shape[0])


#  Выведем результат на экран первые 5 строк
period.head()

Количество заказов: 45
Количество заказов: 45

                    InvoiceNo StockCode  ... CustomerID         Country
InvoiceDate                              ...
2010-12-07 13:01:00    537604     84991  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21845  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21534  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21527  ...    13488.0  United Kingdom
2010-12-07 13:01:00    537604     21528  ...    13488.0  United Kingdom

[5 rows x 7 columns]

### Задача 3

По той же рабочей табличке
* посчитайте количество уникальных наименований товаров (Description), которые купили за весь период (т. е. по всем данным). Используйте соответствующий метод.
* найдите все уникальные страны, в которых были размещены заказы.

**Решение:**

In [ ]:
#  Найдем количество уникальных товаров за весь период
print ("Количество уникальных наименований товаров:",data.Description.nunique())

# Найдем страны в в которых были размещены заказы и выведем их алфавитном порядке
country = data.Country.sort_values().unique()                    

print ("\nСтраны в в которых были размещены заказы:",country.tolist())         # Можем передать в качестве списка

print ("\nИли вывести как массив:\n")
country

Количество уникальных наименований товаров: 4223

Страны в в которых были размещены заказы: ['Australia', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Canada', 'Channel Islands', 'Cyprus', 'Czech Republic', 'Denmark', 'EIRE', 'European Community', 'Finland', 'France', 'Germany', 'Greece', 'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lebanon', 'Lithuania', 'Malta', 'Netherlands', 'Norway', 'Poland', 'Portugal', 'RSA', 'Saudi Arabia', 'Singapore', 'Spain', 'Sweden', 'Switzerland', 'USA', 'United Arab Emirates', 'United Kingdom', 'Unspecified']

Или вывести как массив:

array(['Australia', 'Austria', 'Bahrain', 'Belgium', 'Brazil', 'Canada',
       'Channel Islands', 'Cyprus', 'Czech Republic', 'Denmark', 'EIRE',
       'European Community', 'Finland', 'France', 'Germany', 'Greece',
       'Hong Kong', 'Iceland', 'Israel', 'Italy', 'Japan', 'Lebanon',
       'Lithuania', 'Malta', 'Netherlands', 'Norway', 'Poland',
       'Portugal', 'RSA', 'Saudi Arabia', 'Singapore', 'Spain', 'Sweden',
       'Switzerland', 'USA', 'United Arab Emirates', 'United Kingdom',
       'Unspecified'], dtype=object)

In [ ]:
# Так же можно посмотреть частоту для каждого отдельного уникального значения в колонке описания товара (Description)
print (data.Description.value_counts())

# И вывести его сумму 
data.Description.value_counts().sum()

WHITE HANGING HEART T-LIGHT HOLDER    2369
REGENCY CAKESTAND 3 TIER              2200
JUMBO BAG RED RETROSPOT               2159
PARTY BUNTING                         1727
LUNCH BAG RED RETROSPOT               1638
                                      ...
GREEN WITH METAL BAG CHARM               1
FLOWER FAIRY 5 SUMMER DRAW LINERS        1
damages/showroom etc                     1
mouldy                                   1
PINK BERTIE MOBILE PHONE CHARM           1
Name: Description, Length: 4223, dtype: int64

540455

### Задача 4

* Посчитайте матрицу корреляции Спирмена для наших данных.
* Найдите 1%, 50% и 99% квантили цены за единицу товара.

*Для решения данной задачи потребуется самостоятельно найти способ получения матрицы Спирмена. Обратите внимание, на вебинаре продемонстрирован пример матрицы Пирсона.*

**Решение:**

In [ ]:
# Так как при вызове функции сorr по умолчанию используется алгоритм корреляции Пирсмена, то для того чтобы использовалась корреляция Спирмена, нужно в качестве аргумента указать следующий параметр
data.corr(method='spearman')

            Quantity  UnitPrice  CustomerID
Quantity    1.000000  -0.385407   -0.141124
UnitPrice  -0.385407   1.000000   -0.013255
CustomerID -0.141124  -0.013255    1.000000

In [ ]:
# Выведем квантиль 1%, 50% и 90% для значения цены товара
data.quantile ([0.01, 0.5, 0.9]).UnitPrice         # Сразу делаем выборку по столбцу цена товара (UnitPrice)

0.01    0.19
0.50    2.08
0.90    7.95
Name: UnitPrice, dtype: float64

### Задача 5

Найдите количество клиентов, которые оформляли заказ в понедельники. Для этого
* сделайте подвыборку, соответствующую условию "в понедельник",
* посчитайте количество уникальных ID клиентов.

*Для решения этой задачи потребуется использовать параметр индекса weekday (по аналогии с рассмотренными на вебинаре примерами .index.month, .index.day)*.

**Решение:**

In [ ]:
# С помощью подвыборки найдем все заказы по понедельникам и сохраним в переменную monday
monday = data[data.index.weekday== 0]

# Найдем все уникальные ID клиентов которые заказывали по понедельникам
customer_monday = monday.CustomerID.nunique()

# Выведем результат
print ("Количество клиентов, которые оформляли заказ в понедельники: ",customer_monday)

Количество клиентов, которые оформляли заказ в понедельники:  1769

In [ ]:
# Или можно сделать в одну строчку
print ("Количество клиентов, которые оформляли заказ в понедельники: ",data[data.index.weekday== 0].CustomerID.nunique())

Количество клиентов, которые оформляли заказ в понедельники:  1769