### Задача 1

Создайте переменную **name** и сохраните в нее своё имя.

**Решение:**

In [ ]:
name = "Михаил"

### Задача 2

С помощью функции print выведите строку "5 котиков + 6 котиков = 11 котиков". Передайте в скобки функции print() строку **"5 котиков + 6 котиков = 11 котиков"**.

**Решение:**

In [ ]:
print ("5 котиков + 6 котиков = 11 котиков")

5 котиков + 6 котиков = 11 котиков

### Задача 3

С помощью функции input считайте с входящей строки два целых числа.

**Решение:**

In [ ]:
value_1 = int(input())
value_2 = int(input())

1
2

### Задача 4

Дан ряд целых чисел от 0 до 30 включительно. Используя цикл for, выведите на экран весь ряд. 

Результатом работы программы должен быть вывод в ячейке:

**0**

**1**

**2**

**3**

**4**

... и т. д.

**Решение:**

In [ ]:
for i in range(31):
  print (i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

### Задача 5
Дан следующий список:

In [ ]:
my_list = [0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]

Используя цикл for, выведите все значения списка.

Результатом работы программы должен быть вывод в ячейке:

**0**

**1**

**1**

**2**

**3**

... и т.д.

**Решение:**

In [ ]:
for i in my_list:
  print (i)

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377