# Задание **Ultra Lite**

Дано отношение «Автомобили»:

**Фирма**: Модельный ряд

**BMW**: X1,X5,X3,M1,M5

**Nissan**: Almera, Qashqai, Skyline, X-Trail  

Преобразуйте таблицу к 1НФ

In [ ]:
# Импорт бибилиотек
import pandas as pd

Создает таблицу из задания

In [ ]:
cars = pd.DataFrame({'Фирма':['BMW', 'Nissan'], 'Модельный ряд': ['X1,X5,X3,M1,M5', 'Almera, Qashqai, Skyline, X-Trail']})
cars

    Фирма                      Модельный ряд
0     BMW                     X1,X5,X3,M1,M5
1  Nissan  Almera, Qashqai, Skyline, X-Trail

Теперь нужно привести к базе данных **1ой Нормальной формы**. Значения в столбцах и в строках должны быть неделимы.

Как видно для каждой фирмы есть значения модельного ряда, который можно поделить.

Для этого нужно выделить все модели в отенльную строку.

In [ ]:
cars_1 = pd.DataFrame([['BMW', 'X1'], ['BMW', 'X5'], ['BMW', 'X3'],['BMW', 'M1'], ['BMW', 'M5'],
                       ['Nissan', 'Almera'], ['Nissan', 'Qashqai'], ['Nissan', 'Skyline'], ['Nissan', 'X-Trail']])
cars_1

        0        1
0     BMW       X1
1     BMW       X5
2     BMW       X3
3     BMW       M1
4     BMW       M5
5  Nissan   Almera
6  Nissan  Qashqai
7  Nissan  Skyline
8  Nissan  X-Trail

**Вывод:**

1. Данные уже не делимы.
2. Строки не зависят друг от друга.
3. Каждая строка уникальна