# Домашнее задание

Варианты хранения данных

**Ultra light**

# Задание 1

ан следующий массив:

a = [1,4,6,1,4,8,10,1,9,2,30].

Написана программа, которая выполняет с массивом следующие операции последовательно:

a.insert(1,1) # формат array.insert(index, element)

a.insert(2,1)

a.insert(6,1)

a.delete(10)

a.delete(4)

Что после проведения этих команд вернет команда a.sort()?

In [ ]:
a = [1,4,6,1,4,8,10,1,9,2,30]

In [ ]:
# Метод insert добавляет элемент в список по номеру индекса

a.insert(1,1)

# Это значит что по номеру индекса 1 добавится целое число 1

In [ ]:
# Аналогично с другими числами
a.insert(2,1)
a.insert(6,1)

In [ ]:
# Выведем результат
print(a)

[1, 1, 1, 4, 6, 1, 1, 4, 8, 10, 1, 9, 2, 30]

In [ ]:
# В списках вместо delete используется метод pop()
a.pop(10)
a.pop(4)

6

In [ ]:
# Выведем результат
print(a)

[1, 1, 1, 4, 1, 1, 4, 8, 10, 9, 2, 30]

In [ ]:
# Отсортируем полученный список
a.sort()
print(a)
# Сортированный список по возрастанию

[1, 1, 1, 1, 1, 1, 2, 4, 4, 8, 9, 10, 30]

# Задание 2
Дана очередь следующего вида: (1,2,3,’’,5,’g’,’e’,2,5). Распишите шаги и операции, которые необходимо произвести с очередью для извлечения элемента ‘g’.

In [ ]:
lst = [1,2,3,'',5,'g','e',2,5]

In [ ]:
# Так же воспользуемся методом pop() для удаления элементов из начала списка, так же как Dequeue из лекции.
# Удаление до элемента g будет происходит в цикле

# Для определения индекса 'g' воспользуемся методом index()

for _ in (range(lst.index('g'))):
  lst.pop(0)

# Вывод на экран
print(lst[0])

#  Или можно взять этот элемент из списка
g = lst.pop(0)
print(g)

g
g

# Задание 3
Напишите 3 варианта формата структурированных данных и 2 варианта формата полуструктурированных данных.

**Структурированные** данные:

1. Связанные списки

2. Стеки

3. Графы

**Полуструктурированные** данные:

1. XML

2. JSON (JavaScript Object Notation)