### Задача 1

Используя все возможные известные методы, посчтитайте сумму чисел от 1 до 20 следующим способом:
1. Перебором параметра i в цикле for. 
2. Перебором параметра i в цикле while.
3. При помощи специальной функции для созданного списка.
4. При помощи перебора элементов созданного списка в цикле for. 
5. При помощи перебора элементов созданного списка в цикле while.

**Решение:**

In [ ]:
#1.

sum = 0
for i in range (1,21):
  sum += i
print (sum)

#2. 

sum = 0 
n = 1
while n <= 20:
  sum += n 
  n += 1
print (sum)

#3.

line =[]
for i in range (1,21):
  line.append(i)      # Дополняем список значениями от 1 до 20

def linesum(line):    # Функция для подсчета суммы в переданном ей списке
  sum = 0
  for i in line:
    sum += i
  return (sum)

print (linesum(line))


#4.

line2 = []                    # Новый список для задачи 4
for i in range (1, 21):
  line2.append(i)

sum = 0

for i in line2:
  sum += i
print (sum)

#5.                       

line3 = []                    # Новый список для задачи 5
for i in range (1, 21):
  line3.append(i)

sum = 0
i = 0

while i < len(line3):
  sum += line3[i]
  i += 1
print (sum)

210
210
210
210
210

### Задача 2

Используя циклы, напишите код, который создает список (list) путем конкатенации значений данного листа с целыми числами от 1 до (произвольного) n включительно.

Пример:

для списка ["сосиски", "горчица"] при n = 3 результат должен выглядеть так:

['сосиски$\_$1', 'горчица$\_$1', 'сосиски$\_2$', 'горчица$\_$2', 'сосиски$\_$3', 'горчица$\_$3']

In [ ]:
sample_list = ["мандаринки", "киви", "лимон"]

**Решение:**

In [ ]:
sample_list = ["мандаринки", "киви", "лимон"]

n = int(input("Введите целое положительное число: "))                     #Ввод значения от 1 до (произвольного) n включительно.

if n <= 0:                                                              # Проверка что введенное число положительное и не 0 
  print ("Повторите попытку. Введите целое положительное число")

list_new = []   # Создаем новый список 

for value in range(1,n+1):
  for i in sample_list:
    list_new.append(i + '_' + str(value))
print(list_new)

Введите целое положительное число: 9
['мандаринки_1', 'киви_1', 'лимон_1', 'мандаринки_2', 'киви_2', 'лимон_2', 'мандаринки_3', 'киви_3', 'лимон_3', 'мандаринки_4', 'киви_4', 'лимон_4', 'мандаринки_5', 'киви_5', 'лимон_5', 'мандаринки_6', 'киви_6', 'лимон_6', 'мандаринки_7', 'киви_7', 'лимон_7', 'мандаринки_8', 'киви_8', 'лимон_8', 'мандаринки_9', 'киви_9', 'лимон_9']

### Задача 3

Напишите код, который считает количество элементов в заданном списке до тех пор, пока не встретится элемент типа словарь.

Пример:

для списка [3, "котики", 0.45, 5, {'котики' : 2, 'слоники' : 9}, "слоники", 34] на выходе должны получить число 4

In [ ]:
list_for_pro_task_2 = [35, 0.24, 3 + 4j, "котики", 0.45, (8, 9), "слоники", {"Мадрид": 3, 'Лондон':5}, 23498]
print(list_for_pro_task_2)

[35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]

**Решение:**

In [ ]:
list_for_pro_task_2 = [35, 0.24, (3+4j), 'котики', 0.45, (8, 9), 'слоники', {'Мадрид': 3, 'Лондон': 5}, 23498]

n = 0                          # Счетчик количества элементов перед dict
for i in list_for_pro_task_2:
  print (type(i))              # Просто посмотреть типы данных (к задаче не относится)
  if type(i) is dict:
    break
  n += 1
  
print ("В заданном списке до тех пор, пока не встретился элемент типа словарь было", n, "элементов")

<class 'int'>
<class 'float'>
<class 'complex'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'str'>
<class 'dict'>
В заданном списке до тех пор, пока не встретился элемент типа словарь было 7 элементов

### Задача 4

Создайте словарь (dict) c ключами, соответствующими числам от 1 до 20 включительно и значениями, соответствующими квадратам ключей. 

P.S. Используйте циклы или функции, прямое "ручное" присваивание не допускается!!!

Пример: 

для чисел от 1 до 3 включительно словарь должен выглядеть так: {1 : 1, 2 : 4, 3 : 9}

**Решение:**

In [ ]:
dict = {}
for i in range(1, 21):
  dict[i] = i ** 2
print (dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400}

### Задача 5

**Дана** следующая строка:

In [ ]:
string = '[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377,]'

Пройдя по символам строки, переведите строку в список.

In [ ]:
string = '[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377,]'
string = string[1:-2]                      # Убирает скобки [] и запятую 

# 1 Вариант

value = string.split(",")                  # Перевод строки в список, сепаратор - ,

print(value)
print (type(value))                        # Проверка что тип list
print (len(value))                         # Количество элементов в списке (к задаче не относится, для проверки)


# 2 вариант

for i in range(len(value)): 
    value[i] = int(value[i]) 

print(value)
print (type(value))                         # Проверка что тип list
print (len(value))                          # Количество элементов в списке (к задаче не относится, для проверки)


# Точно не знаю какой из вариантов предпочтительнее, оставил оба.

['0', ' 1', ' 1', ' 2', ' 3', ' 5', ' 8', ' 13', ' 21', ' 34', ' 55', ' 89', ' 144', ' 233', ' 377']
<class 'list'>
15
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377]
<class 'list'>
15