### Задание 1

Воссоздайте таблицу в виде Pandas DataFrame.

![image.png]()

**Решение:**

In [ ]:
import pandas as pd

df = pd.DataFrame([[0,0,0,0,0,0,0], [0,1,2,3,4,5,6], [0,2,4,6,8,10,12],[0,3,6,9,12,15,18]])    # Создание DataFrame и присваеваем переменной df
df                                                                                             # Вывод на экран созданного DataFrame

   0  1  2  3   4   5   6
0  0  0  0  0   0   0   0
1  0  1  2  3   4   5   6
2  0  2  4  6   8  10  12
3  0  3  6  9  12  15  18

### Задание 2

Сложите все значения в таблице по столбцам без использования циклов и условий.

**Решение:**

In [ ]:
print ("Первый способ:\n")

print ("Сумма значений по столбцам:\n",df.sum())    #Выводим сумму всех столбцов


print ("\nВторой способ:\n")

print ("Сумма 0 столбца:", df[0].sum())              #Выводим сумму каждого столбца в отдельности
print ("Сумма 1 столбца:", df[1].sum())
print ("Сумма 2 столбца:", df[2].sum())
print ("Сумма 3 столбца:", df[3].sum())
print ("Сумма 4 столбца:", df[5].sum())


print ("\nТретий способ:\n")

sum_6 = df[6].sum()                                  # Присваеваем переменной сумму столбца 6 
print ("Сумма 6 столбца:", sum_6)                    # Выводим сумму 6 столбца

Первый способ:

Сумма значений по столбцам:
 0     0
1     6
2    12
3    18
4    24
5    30
6    36
dtype: int64

Второй способ:

Сумма 0 столбца: 0
Сумма 1 столбца: 6
Сумма 2 столбца: 12
Сумма 3 столбца: 18
Сумма 4 столбца: 30

Третий способ:

Сумма 6 столбца: 36

### Задание 3

При помощи метода Pandas выведите размерность матрицы. Убедитесь в корректности результата.

**Решение:**

In [ ]:
print ("Размерность матрицы:", df.shape)       # Выводим размерность матрицы. Отчет начинается с 0 (нуля), 4  строки и 7 столбцов.
df.shape

Размерность матрицы: (4, 7)

(4, 7)

### Задание 4

При помощи метода Pandas выведите Series, содержащий данные из второго и пятого столбцов.

**Решение:**

In [ ]:
df.iloc[:,[1,4]]               # С помощью метода iloc и отбора по столбцам выводим второй и пятый столбцы (номера столбцов 1 и 4)

   1   4
0  0   0
1  1   4
2  2   8
3  3  12

### Задание 5

Добавьте в таблицу столбец **7**, содержащий значения **0, 7, 14, 21.**

**Решение:**

In [ ]:
df[7] = [0,7,14,21]                             # Добавляем новый столбец (7) со значениями (0,7,14,21)
df                                              # Выводим обновленную таблицу

   0  1  2  3   4   5   6   7
0  0  0  0  0   0   0   0   0
1  0  1  2  3   4   5   6   7
2  0  2  4  6   8  10  12  14
3  0  3  6  9  12  15  18  21